// out
.out
	padding-bottom: 124px
	height: 100%
	height: auto
	min-height: 100%
	+box

// center
.center
	padding: 28px 8px 33px
	@extend %in

// wrap
.wrap
	+clr

// l
.l
	margin-top: 32px
	+r400
	+clr
.l-col1
	float: left
	width: 25%
	border: 1px solid $bord_cab
	border-radius: 5px
	.btn
		width: 100%
.l-col2
	float: right
	width: 73%
	border: 1px solid $bord_cab
	border-radius: 5px
	.title-small
		margin-bottom: 17px

// field
.field
	padding: 25px 29px
	border-top: 1px solid $bord_cab
	&:first-child
		border-top: none
// btn
.btn
	padding: 0 30px
	height: 38px
	min-width: 113px
	line-height: 37px
	color: #fff
	font-size: 14px
	vertical-align: top
	text-align: center
	text-transform: uppercase
	+r700
	border-radius: 5px
	transition: background .3s
	+box
	background: $l_green
	display: inline-block
	+dr($l_green,15%)
	&_blue
		background: $blue
		+dr($blue,15%)
	&_red
		background: $red
		+dr($red,15%)
	&_bord
		border-radius: 4px
		border: 2px solid #89e5e4
	&_small
		padding: 0 8px
		height: 24px
		min-width: 40px
		+r400
		line-height: 19px
		text-transform: lowercase
	&_middle
		height: 45px
		line-height: 45px
	&_big
		min-width: 276px
		height: 59px
		font-size: 20px
		line-height: 59px
	.ico
		margin: 0 -4px -2px 10px
button.btn
	line-height: 1

.btn-open
	position: relative
	width: 34px
	height: 21px
	background-color: $l_green
	border-radius: 5px
	display: inline-block
	transition: background .3s
	+dr($l_green,15%)
	&:before,
	&:after
		position: absolute
		content: ''
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		background: #fff
	&:before
		width: 2px
		height: 10px
	&:after
		width: 10px
		height: 2px

// title
.title
	+r400
	font-size: 58px
	line-height: 1.2
	text-align: center
.title-h2
	+r400
	font-size: 41px
	line-height: 57px
.title-h5
	+r700
	font-size: 16px
.title-small
	+r400
	font-size: 20px
	text-transform: uppercase
	line-height: 1.2
	&.is-gray
		color: $c_gray
	&.is-blue
		color: $blue

// select
.select
	position: relative
	+r400
	&.is-active
		.select__text
			border-radius: 5px 5px 0 0
	&__text
		position: relative
		padding: 0 35px 0 12px
		height: 38px
		line-height: 36px
		font-size: 16px
		user-select: none
		border-radius: 5px
		border: 1px solid $bord_select
		transition: border-radius .3s
		cursor: pointer
		background: #fff
		+box
		&:before
			position: absolute
			content: ''
			top: 9px
			right: 9px
			width: 19px
			height: 19px
			background: #d6dbdf
			border-radius: 3px
		&:after
			position: absolute
			content: ''
			top: 17px
			right: 15px
			z-index: 1
			+arr(7,4,#000,b)
	&__list
		position: absolute
		top: 100%
		left: 0
		right: 0
		padding: 12px 0
		color: $c_body
		z-index: 100
		border: 1px solid $bord_select
		border-top: none
		border-radius: 0 0 5px 5px
		background: #fff
		display: none
		li
			padding: 0 12px
			cursor: pointer
			transition: background .2s, color .2s
			&:active
				color: #fff
				background: $l_green
			+rm(1024)
				&:hover
					color: #fff
					background: $l_green
	select
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		visibility: hidden
		opacity: 0
		z-index: -1

// input
.input
	padding: 0 12px
	width: 100%
	height: 38px
	font-size: 16px
	line-height: 36px
	+r400
	+box
	border: 1px solid $bord_select
	border-radius: 5px
	display: block
	&::placeholder
		color: $c_gray
		opacity: .5

// checkbox
.checkbox
	position: relative
	user-select: none
	cursor: pointer
	line-height: 1.2
	letter-spacing: -.2px
	display: block
	input
		opacity: 0
		z-index: 2
		&:checked
			& + span
				&:after
					display: block
	input,
	span:before
		position: absolute
		top: 0
		left: 0
		width: 21px
		height: 21px
	span
		position: relative
		padding-left: 35px
		display: block
		&:before
			position: absolute
			content: ''
			border: 1px solid #dedede
			border-radius: 5px
			+box
		&:after
			position: absolute
			content: ''
			top: 6px
			left: 4px
			display: none
			+s(check-arr)

// date
.date
	font-size: 16px
	+r700

// breadcrumbs
.breadcrumbs
	padding: 13px 0
	font-size: 16px
	+r400
	line-height: 1.35
	background: $bg_gread
	&__arr
		position: relative
		margin-left: 7px
		width: 10px
		height: 10px
		+box
		border-radius: 50%
		background-color: #fff
		border: 2px solid $blue
		display: inline-block
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			margin: -1px 0 0 -1px
			width: 2px
			height: 2px
			background: $l_green
	ul
		@extend %in
	li
		margin-left: 7px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	a
		color: $blue
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $blue
		+rm(1024)
			&:hover
				border-color: $blue

// banner
.banner
	margin: 12px 0 30px
	height: 130px
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: cover

// rating
.rating
	font-size: 11px
	&__item
		margin-left: 1px
		vertical-align: middle
		display: inline-block
		&:first-child
			margin-left: 0
		&.is-yellow
			a
				color: $bg_star
	a
		color: $bg_star-gray
		transition: color .2s
		&:active
			opacity: .8
		+rm(1024)
			&:hover
				opacity: .8

// pagin
.pagin
	margin-top: 24px
	text-align: center
	+r400
	li
		margin-left: 7px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	a
		position: relative
		width: 26px
		height: 25px
		line-height: 25px
		color: $c_body
		transition: color .2s, background .2s
		border-radius: 5px
		display: block
		&.is-active
			color: #fff
			+r700
			background: $l_green-2
		&:active
			color: #fff
			background: $l_green-2
		+rm(1024)
			&:hover
				color: #fff
				background: $l_green-2
	&__prev,
	&__next
		background-color: $bg_pag
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			transition: border-color .2s
	&__prev
		margin-right: 11px
		&:before
			margin-left: -1px
			+arr(5,9,$l_green-2,l)
		&:active
			&:before
				+arr(5,9,#fff,l)
		+rm(1024)
			&:hover
				&:before
					+arr(5,9,#fff,l)
	&__next
		margin-left: 11px
		&:before
			margin-right: -1px
			+arr(5,9,$l_green-2,r)
		&:active
			&:before
				+arr(5,9,#fff,r)
		+rm(1024)
			&:hover
				&:before
					+arr(5,9,#fff,r)
