// out
.out
	padding-bottom: 124px
	height: 100%
	height: auto
	min-height: 100%
	+box
	+r(960)
		min-height: auto
		padding-bottom: 0

// center
.center
	padding: 28px 8px 33px
	@extend %in
	.profile
		padding-top: 12px
		+r(1024)
	& > .profile
		+r(1024)
			padding-top: 30px 
	& > .title-h2
		+r(768)
			margin-top: 30px

// wrap
.wrap
	+clr
	& + .banner
		margin-top: 45px 
	.pagin
		+r(768)
			margin-bottom: 24px

.wrapper
	margin-top: 20px
	border: 1px solid #e6e6e6
	+r400
	font-size: 16px
	border-radius: 5px
	+r(768)
		margin-top: 30px
		font-size: 18px
	&.is-when
		.graph__left
			width: 38.4%
			+r(1200)
				width: 29.5%
				+r(1024)
					width: 100%
					border-bottom: 1px solid $bord_cab
			&:before
				left: 38.4%
				+r(1200)
					left: 29.5%
				+r(1024)
					display: none
			.graph__col
				width: 64%
				+r(1200)
					width: 100%
				&:first-child
					width: 36%
					+r(1200)
						width: 100%
		.graph__right
			width: 61.6%
			+r(1200)
				width: 70.5%
				+r(1024)
					width: 100%
			.graph__col
				width: calc(100% - 106px)
				+r(1024)
					width: 100%
				&:first-child
					width: 106px
					+r(1024)
						width: 100%
			.checkbox
				+r(1200)
					margin-left: 13px
					&:first-child
						margin-left: 0
				&:last-child
					+r(625)
						margin: 10px 0 0 0
						display: block
					+r(552)
						display: inline-block
				&:nth-last-child(2)
					+r(552)
						margin: 10px 13px 0 0
		.graph__field
			margin-top: 28px
			+r(1024)
				margin-top: 15px
				&:first-child
					margin-top: 0
			&:first-child
				margin-top: 0
		.graph__col
			width: calc(100% - 125px)
			+r(1024)
				width: 100%
			&:first-child
				width: 125px
				+r(1024)
					width: 100%
	&.is-reg
		.input
			position: relative
			left: -12px
			transition: border-color .2s
			border-color: transparent
			text-overflow: ellipsis
		.field.is-reg
			.input
				border-color: #d8dadd
				+r(960)
					left: auto
	.field
		width: 100%
		color: $c_body
		transition: background .2s, color .2s
		display: table
		+r(960)
			display: block
		&.is-active
			color: #fff
			background: #61c2c1
			.btn-text,
			a
				color: #fff
		&:first-child
			border-top-left-radius: 5px
			border-top-right-radius: 5px
		&:last-child
			border-bottom-left-radius: 5px
			border-bottom-right-radius: 5px
		&.is-head
			padding: 14px 29px
			background: #f2f2f2
			+r(960)
				display: none
				& + .field
					border-top: none
			&:hover
				color: $c_body
			a
				color: inherit
		&.is-foot
			display: block
			border-radius: 0 0 5px 5px
			&:hover
				color: $c_body
				background: transparent
			.td
				display: block
		.field__row
			display: table-row
			+r(960)
				display: block
		.btn-text,
		a
			transition: color .2s
	.td
		display: table-cell
		+r(960)
			margin-top: 16px
			padding-right: 0
			width: 100% !important
			display: block
			&:first-child
				margin-top: 0
		&.td_title
			float: left
			width: auto
			+r700
			text-transform: uppercase
		&.td_all
			float: right
			width: 70px
			+r(960)
				margin-top: 0
		.td__title
			margin-bottom: 2px
			color: #999
			+r400
			display: none
			+r(960)
				display: block
	.btn-reg,
	.btn-remove
		margin-left: 4px
		vertical-align: middle
		+r(768)
			margin: 10px 0 0
		&:first-child
			margin-left: 0
	.btn-open
		margin-top: 5px
		vertical-align: top
	.face
		display: inline-block
	.form
		border-radius: 5px
	a
		color: $blue
.remove-item
	position: relative
	width: 20px
	height: 20px
	background: transparent
	&:before,
	&:after
		position: absolute
		content: ''
		left: 0
		height: 2px
		width: 20px
		background: $c_body
	&:before
		top: 10px
		+rotate(-45)
	&:after
		bottom: 8px
		+rotate(45)

// add-wrapper 
.add-wrapper 
	.wrapper
		position: relative
		&:first-child
			.remove-item
				display: none
	.remove-item
		position: absolute
		top: 5px
		right: 5px

// l
.l
	margin-top: 32px
	+r400
	+clr
	&_patients
		.leftbar
			width: 69.6%
			+r(1024)
				width: 100%
		.rightbar
			width: 28%
			+r(1024)
				width: 100%
	&__in
		+clr
	&__bot
		padding-left: 36%
		+r(1024)
			padding-left: 0
		.pagin
			+r(768)
				margin-bottom: 24px
.l-col1
	float: left
	width: 25%
	border: 1px solid $bord_cab
	border-radius: 5px
	+r(1280)
		width: 34%
		+r(1023)
			float: none
			width: 100%
	+r(768)
		border-radius: 0 
		border-left: none
		border-right: none
	.btn
		width: 100%
		+r(1023)
			width: auto
			min-width: 208px
			+r(768)
				width: 100%
.l-col2
	float: right
	width: 73%
	border: 1px solid $bord_cab
	border-radius: 5px
	+r(1280)
		width: 64%
		+r(1023)
			float: none
			margin-top: 25px
			width: 100%
	+r(768)
		border-radius: 0 
		border-left: none
		border-right: none
	.title-small
		margin-bottom: 17px
// leftbar
.leftbar
	float: left
	width: 73%
	+r(1280)
		width: 65%
		+r(1024)
			float: none
			width: 100%

// rightbar
.rightbar
	float: right
	width: 25%
	+r(1280)
		width: 33%
		+r(1024)
			float: none
			margin-top: 25px
			width: 100%
	
// col-left col-center col-right
.col-left
	float: left
	margin-right: 50px
	width: 26%
	+clr
	+r(1024)
		margin-top: 30px
		width: 100%
		overflow: hidden
		border-radius: 5px
		box-shadow: 0 2px 5.7px 0.3px rgba(0, 0, 0, 0.2)
		+r(768)
			box-shadow: none
			overflow: initial
		& > img
			float: left
			+r(768)
				float: none
				width: 100%
		.unit 
			margin: 0
			overflow: hidden
			box-shadow: none
			+r(768)
				margin-top: 26px
				box-shadow: 0 2px 5.7px 0.3px rgba(0, 0, 0, 0.2)
			.title-small
				margin-top: 0
		.wrapper
			margin-top: 0
			overflow: hidden
			border: none
			+r(768)
				margin-top: 15px
				border: 1px solid #e6e6e6
			.title-small
				&:first-child
					margin-top: 0
					+r(768)
						& + .form__row
							margin-top: 0
	.unit
		padding: 22px 20px
		margin-top: 30px
		&:first-child
			margin-top: 0
		& + .unit
			margin-top: 30px
	.event + .event
		margin-top: 12px
	.form
		background: #fff
		&__row
			&:first-child
				margin-top: 0
		&__label
			margin-bottom: 5px
		.btn
			min-width: 183px
	.title-small
		margin-top: 25px
	.title-h2
		+r(768)
			margin-top: 22px
			line-height: 1

.col-center,
.col-float
	float: left
	width: calc(46.5% - 50px)
	line-height: 1.2
	.title-h2
		line-height: 1
		&:first-child
			margin-top: -5px
	.title-small
		margin: 30px 0 22px
		+r(768)
			margin-bottom: 12px
	.video
		margin-top: 38px
	p
		margin-top: 20px
		+r(768)
			margin-top: 12px
		&:first-child
			margin-top: 0
	a
		color: $blue
		border-bottom: 1px solid transparent
		line-height: 1.2
		transition: border-color .2s
		display: inline-block
		&:hover
			border-color: $blue
.col-center,
.col-float,
.content
	.btn
		line-height: 37px
		color: #fff
		+dr($l_green,15%)
		&:hover
			border-color: transparent
		&_blue
			background: $blue
			+dr($blue,15%)
		&_red
			background: $red
			+dr($red,15%)
		&_green
			background: $bg_btn_green
			+dr($bg_btn_green,15%)
		&_small
			line-height: 19px
		&_average
			line-height: 31px
		&_h38
			line-height: 38px
		&_h48
			line-height: 48px
		&_big
			line-height: 59px

.col-center
	+r(1024)
		margin-top: 30px
		width: calc(63.5% - 50px)
		+r(768)
			margin-top: 12px
			width: 100%

.col-float
	width: calc(72.6% - 50px)
	+r(1024)
		margin-top: 30px
		width: 100%
	.title-h2
		+r(1279)
			span
				display: block
			.btn
				float: none
				margin: 15px 0 0
	.profile
		+r(768)
			margin-top: 18px
		&__col
			width: 31%
			+r(768)
				margin: 30px 0 0
				width: 100%
				&:first-child
					margin-top: 0
		.title-small
			margin-bottom: 12px
		.row 
			&:first-child
				+r(768)
					margin-top: 0
			& + p
				margin-top: 14px
			.btn 
				& + .btn
					margin-left: 2px
					+r(1279)
						margin: 10px 11px 0 0
			.title-small
				&:first-child
					+r(768)
						margin-top: 0
		.price
			color: $blue
		.list-green li
			margin-top: 2px
			&:first-child
				margin-top: 0
	.btn 
		+r(768)
			width: 100%

.col-right
	float: right
	width: calc(27.4% - 27px)
	+r(1024)
		margin-top: 30px
		width: calc(42.4% - 27px)
		+r(768)
			width: 100%
	.days
		border-radius: 5px
	.title-small
		margin-bottom: 15px
		&:first-child
			margin-top: 7px

// content
.content
	padding: 35px 0 13px
	+clr
	+r(1024)
		padding-bottom: 50px 
	.leftbar
		width: 38%
		+r(1024)
			float: left
			width: 41%
			+r(768)
				float: none
				width: 100%
	.rightbar
		padding-right: 17.2%
		width: calc(62% - 50px)
		+box
		+r(1024)
			float: right
			padding-right: 0
			+r(768)
				float: none
				width: 100%
	.img
		& + .title-small	
			margin-top: 38px
	.title-small
		margin: 40px 0 20px
		+r(768)
			margin-top: 25px
		& + .title-h5
			margin-top: -5px
	.title-h2
		margin: -9px 0 5px
		line-height: 1.1
	.title-h5	
		margin: 35px 0 10px
		+r(765)
			margin-top: 25px
		& + p
			margin-top: 10px
	.date
		color: $l_green-2
		+r400
		& + img
			margin-top: 30px
	p
		margin-top: 17px
		line-height: 1.2
	a
		color: $blue
		line-height: 1.3
		transition: border-color .2s
		border-bottom: 1px solid transparent
		display: inline-block
		&:hover
			border-color: $blue

// field
.field
	padding: 25px 29px
	border-top: 1px solid $bord_cab
	+box
	+clr
	&:first-child
		border-top: none
	&__row
		margin-top: 20px
		+clr
		+r(960)
			margin-top: 0
		&.is-mob
			+r(960)
				display: none !important
		&:first-child
			margin-top: 0
	&__col
		float: left
		width: 50%
		p
			margin-top: 6px
			line-height: 1.2	
			&:first-child
				margin-top: 0

.img
	max-width: 100%
	display: block
	& + .unit
		margin-top: 31px

// btn
.btn
	padding: 0 28px
	height: 38px
	min-width: 113px
	line-height: 37px
	color: #fff
	font-size: 14px
	vertical-align: top
	text-align: center
	text-transform: uppercase
	+r700
	border-radius: 5px
	transition: background .3s
	+box
	background: $l_green
	display: inline-block
	+dr($l_green,15%)
	&_blue
		background: $blue
		+dr($blue,15%)
	&_red
		background: $red
		+dr($red,15%)
	&_green
		background: $bg_btn_green
		+dr($bg_btn_green,15%)
	&_bord
		border-radius: 4px
		border: 2px solid #89e5e4
	&_small
		padding: 0 8px
		height: 24px
		min-width: 40px
		+r400
		line-height: 19px
		text-transform: lowercase
	&_average
		padding: 0 15px
		min-width: 130px
		height: 31px
		line-height: 31px
		font-size: 12px
	&_h38
		height: 38px
		line-height: 38px
	&_h48
		height: 48px
		font-size: 16px
		line-height: 48px
	&_middle 
		height: 45px
		line-height: 45px
	&_big
		min-width: 276px
		height: 59px
		font-size: 20px
		line-height: 59px
	&_pad
		padding: 0 45px
	.ico
		margin: 0 -4px -2px 10px
button.btn
	line-height: 1

.btn-open
	position: relative
	width: 34px
	height: 21px
	border-radius: 5px
	border: 1px solid #dfdfdf
	background: #f2f2f2
	transition: background .3s, border-color .3s
	display: inline-block
	&:hover,
	&.is-active
		background-color: $l_green
		border-color: $l_green
		&:before,
		&:after
			background: #fff
	&:before,
	&:after
		position: absolute
		content: ''
		top: 50%
		left: 50%
		transform: translate3d(0,0,0)
		transform: translate(-50%,-50%)
		transition: background .2s
		background: #bbb
	&:before
		width: 2px
		height: 10px
	&:after
		width: 10px
		height: 2px

.btn-text
	color: $blue
	+r400
	font-size: 12px
	&.is-mob
		margin: 10px 5px 0 0
		padding: 0 10px
		height: 28px
		color: #fff
		font-size: 14px
		+r400
		line-height: 28px
		background-color: #61c2c1
		border-radius: 5px
		display: none
		+r(960)
			display: inline-block
		.ico
			margin-left: 15px
			vertical-align: middle
			opacity: 1
		span
			line-height: 1.2
	.ico
		margin-left: 2px
		will-chenge: opacity
		transform: translate3d(0,0,0)
		transition: opacity .2s
		&:hover
			opacity: .7

// btn-reg btn-remove
.btn-reg,
.btn-remove
	position: relative
	height: 30px
	width: 30px
	color: #fff
	font-size: 14px
	+r700
	text-transform: uppercase
	transition: background .2s
	border-radius: 50%
	+r(960)
		padding: 0 20px
		height: 38px
		line-height: 38px
		min-width: 188px
		border-radius: 5px
		+r(768)
			width: 100%
			height: 48px
			line-height: 48px
			font-size: 18px
	&__hide
		display: none
		+r(960)
			display: inline-block
	.ico
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		+r(960)
			display: none
.btn-reg
	background: $bg_btn_green
	+dr($bg_btn_green,15%)
.btn-remove
	background: $l_red
	+dr($l_red,15%)

// title
.title
	+r400
	font-size: 58px
	line-height: 1.2
	text-align: center
	+r(768)
		font-size: 50px
.title-h2
	+r400
	font-size: 41px
	line-height: 57px
	+clr
	.btn
		float: right
		margin: 5px 0 -5px

.title-h4
	+r700
	text-transform: uppercase
	font-size: 28px
	line-height: 1.2

.title-h5
	+r700
	font-size: 16px

.title-small
	+r700
	font-size: 20px
	text-transform: uppercase
	line-height: 1.2
	+clr
	+r(768)
		font-size: 22px
		& + .title-small
			padding-top: 0
	&.is-gray
		color: $c_gray
	&.is-blue
		color: $blue
	&.is-mob
		+r(768)
			padding: 27px 30px 0
			margin-bottom: 10px
			text-align: left
			& + .title-small
				padding-top: 0
	.hist
		margin: 5px 0 0 25px
		vertical-align: top
		display: inline-block
		& + .btn.btn_average
			+r(1200)
				margin: 0 0 0 5px
				+r(1024)
					margin: 15px 0 0
		+r(960)
			margin: 5px 0 0
			display: block
	.btn.btn_average
		margin: -9px 0 0 20px
		+r(768)
			margin: 20px 0 0
	.rating
		float: right
		margin: -2px 0 -5px
		font-size: 26px
		line-height: 1
		+r(1279)
			font-size: 22px
	&__right
		float: right
		+r(768)
			float: none

a.title-small
	color: $c_body
	display: block
	&:hover
		span
			border-color: $c_body
	span
		transition: border-color .2s
		border-bottom: 1px solid transparent

.title-cap
	+r400
	font-size: 16px
	line-height: 1.2
	&.is-blue
		color: $blue
	& + .message
		margin-top: 10px

// select
.select
	position: relative
	color: $c_body
	+r400
	font-size: 14px
	&.is-active
		.select__text
			border-radius: 5px 5px 0 0
	&__text
		position: relative
		padding: 0 35px 0 12px
		height: 38px
		line-height: 36px
		font-size: 16px
		user-select: none
		border-radius: 5px
		border: 1px solid $bord_select
		transition: border-radius .3s
		cursor: pointer
		background: #fff
		+box
		&:before
			position: absolute
			content: ''
			top: 9px
			right: 9px
			width: 19px
			height: 19px
			background: #d6dbdf
			border-radius: 3px
		&:after
			position: absolute
			content: ''
			top: 17px
			right: 15px
			z-index: 1
			+arr(7,4,#000,b)
	&__list
		position: absolute
		top: 100%
		left: 0
		right: 0
		padding: 12px 0
		color: $c_body
		z-index: 100
		border: 1px solid $bord_select
		border-top: none
		border-radius: 0 0 5px 5px
		background: #fff
		display: none
		li
			padding: 0 12px
			cursor: pointer
			transition: background .2s, color .2s
			&:active
				color: #fff
				background: $l_green
			+rm(1024)
				&:hover
					color: #fff
					background: $l_green
	select
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		visibility: hidden
		opacity: 0
		z-index: -1

// input, textarea
.input,
.textarea
	padding: 0 12px
	width: 100%
	height: 38px
	font-size: 16px
	line-height: 36px
	+r400
	+box
	border: 1px solid $bord_select
	border-radius: 5px
	display: block
	&::placeholder
		color: $c_gray
		opacity: .5

input[name^='password']
	&::placeholder
		line-height: 40px

// textarea
.textarea
	padding: 12px 17px 
	height: 104px
	line-height: 1.2
	resize: none

// checkbox
.checkbox
	position: relative
	user-select: none
	cursor: pointer
	line-height: 1.2
	letter-spacing: -.2px
	display: block
	&.is-green
		input:checked
			& + span
				&:before
					border-color: $l_green-2
					background: $l_green-2
		span
			padding-left: 36px 
			line-height: 26px
			&:before
				width: 26px
				height: 26px
			&:after
				top: 7px
				left: 6px
				+s(check-arr-white)
	input
		opacity: 0
		z-index: 2
		cursor: pointer
		&:checked
			& + span
				&:after
					transform: scale(1)
	input,
	span:before
		position: absolute
		top: 0
		left: 0
		width: 21px
		height: 21px
	span
		position: relative
		padding-left: 35px
		display: block
		&:before
			position: absolute
			content: ''
			transition: background .2s, border-color .2s
			border: 1px solid #dedede
			border-radius: 5px
			+box
		&:after
			position: absolute
			content: ''
			top: 6px
			left: 4px
			transform: translate3d(0,0,0)
			transition: transform .2s
			transform: scale(0)
			+s(check-arr)

.radiobox
	position: relative
	line-height: 26px
	cursor: pointer
	user-select: none
	vertical-align: top
	display: inline-block
	span:before,
	input
		position: absolute
		top: 0
		left: 0
		height: 24px
		width: 24px
	input
		z-index: 2
		opacity: 0
		cursor: pointer
		&:checked
			& + span
				&:before
					background: $l_green-2
					border-color: $l_green-2
				&:after
					transform: scale(1)
	span
		padding-left: 38px
		line-height: 1.2
		display: inline-block
		&:before
			content: ''
			transition: background .2s, border-color .2s
			border-radius: 50%
			border: 1px solid $bord_radio
			background: #fff
		&:after
			position: absolute
			content: ''
			top: 7px
			left: 7px
			height: 12px
			width: 12px
			transform: translate3d(0,0,0)
			transition: transform .2s
			transform: scale(0)
			border-radius: 50%
			background: #fff

// list-green
.list-green
	line-height: 1.3
	li
		margin-top: 5px
		&:first-child
			margin-top: 0
	.ico
		margin-right: 8px

// form
.form
	padding: 29px
	background: $light
	+clr
	&__row
		margin-top: 16px
		+clr
		&:first-child
			margin-top: 0
		&.is-rel
			position: relative
			.remove-item
				top: 8px
				right: -24px
	&__label
		margin-bottom: 8px
		letter-spacing: -.14px
		cursor: pointer
		user-select: none
		display: block
	&__top
		font-size: 0
		+r(768)
			display: table
		span
			font-size: 16px
	&__butt
		margin-top: 25px
		text-align: center
		.btn
			min-width: 238px
	&__field
		margin-bottom: 5px
		.form__label,
		.checkbox
			margin: 0
			vertical-align: top
			display: inline-block
	&__floor
		margin: 16px 0 15px
		+r(1278)
			display: table
			.form__td
				display: table-cell
			.radiobox
				margin-top: 9px
				display: block
				&:first-child
					margin-top: 0
	&__date
		margin-bottom: 19px
		+r(1278)
			margin-bottom: 9px
			.dat-text
				display: block
			.datepicker
				float: none
				margin-top: 9px
				width: 100%
	&__foot
		margin-top: 15px
		text-align: right
	&__help
		margin-top: 22px
		li
			position: relative
			margin-left: 5px
			padding-left: 7px
			vertical-align: top
			display: inline-block
			&:before
				position: absolute
				content: ''
				top: 8px
				left: 0
				height: 9px
				border-left: 1px dotted #a8a8a8
			&:first-child
				padding-left: 0
				margin-left: 0
				&:before
					display: none
		a
			transition: border-color .2s
			border-bottom: 1px solid transparent
			&:active
				border-color: $blue
			+rm(1024)
				&:hover
					border-color: $blue
	&__td
		vertical-align: top
		display: inline-block
		+r(768) 
			display: table-cell
		.radiobox
			+r(768)
				margin-top: 8px
				display: block
				&:first-child
					margin-top: 0
	&__textarea
		margin-top: 25px
	&__subm
		margin-top: 18px
		.btn + .btn
			margin-top: 10px
	.radiobox
		margin-left: 18px
	.photo
		float: left
		margin: -11px 0 -19px -6px
		+r(768)
			float: none
			margin: -11px auto 0
			display: block
		& + .btn
			margin-top: 47px
			float: right
			+r(768)
				margin-top: 30px
	.datepicker
		float: right
		width: 167px
	.alt
		margin-left: 5px
		+r(1278)
			margin-left: 0
		+r(1200)
			margin-left: 5px

// photo
.photo
	position: relative
	height: 136px
	width: 136px
	overflow: hidden
	vertical-align: top
	border-radius: 50%
	border: 5px solid #fff
	display: inline-block
	img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)

// cost
.cost
	&__row
		margin-top: 15px
		+clr
		&:first-child
			margin-top: 0
	&__text
		float: left
		line-height: 38px
	&__right
		float: right
	&__curr
		margin: 0 8px
		vertical-align: top
		line-height: 38px
		display: inline-block
	.input
		width: 77px
		vertical-align: top
		display: inline-block

// alt
.alt
	position: relative
	color: $c_gray
	font-size: 14px
	cursor: pointer
	user-select: none
	vertical-align: middle
	display: inline-block
	&:hover
		.alt__block
			opacity: 1
			visibility: visible
			z-index: 1
	&__block
		position: absolute
		left: -153px
		bottom: 100%
		margin-bottom: 14px
		padding: 10px
		width: 230px
		line-height: 1.2
		opacity: 0
		visibility: hidden
		z-index: -1
		transform: translate3d(0,0,0)
		will-chenge: opacity
		transition: opacity .2s
		border-radius: 5px
		box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.23)
		background: #fff
		+r(1024)
			left: initial
			right: -10px
		&:before
			position: absolute
			content: ''
			left: 155px
			bottom: -7px
			+arr(12,7,#fff,b)
			+r(768)
				left: initial
				right: 13px
	.ico
		display: block

// date
.date
	font-size: 16px
	+r700
	&_small
		font-size: 14px
	&_green
		color: $l_green-2

// breadcrumbs
.breadcrumbs
	padding: 13px 0
	font-size: 16px
	+r400
	line-height: 1.35
	background: $bg_gread
	&__arr
		position: relative
		margin-left: 7px
		width: 10px
		height: 10px
		+box
		border-radius: 50%
		background-color: #fff
		border: 2px solid $blue
		display: inline-block
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			margin: -1px 0 0 -1px
			width: 2px
			height: 2px
			background: $l_green
	ul
		@extend %in
	li
		margin-left: 7px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	a
		color: $blue
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $blue
		+rm(1024)
			&:hover
				border-color: $blue

// banner
.banner
	margin: 12px 0 30px
	height: 130px
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: cover
	display: block
	& + .reviews
		margin-top: 38px

// rating
.rating
	font-size: 11px
	&__item
		margin-left: 1px
		vertical-align: middle
		display: inline-block
		&:first-child
			margin-left: 0
		&.is-yellow
			a
				color: $bg_star
	a
		color: $bg_star-gray
		transition: color .2s
		&:active
			opacity: .8
		+rm(1024)
			&:hover
				opacity: .8

// pagin
.pagin
	margin-top: 24px
	text-align: center
	+r400
	li
		margin-left: 7px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	a
		position: relative
		width: 26px
		height: 25px
		line-height: 25px
		color: $c_body
		transition: color .2s, background .2s
		border-radius: 5px
		display: block
		&.is-active
			color: #fff
			+r700
			background: $l_green-2
		&:active
			color: #fff
			background: $l_green-2
		+rm(1024)
			&:hover
				color: #fff
				background: $l_green-2
	&__prev,
	&__next
		background-color: $bg_pag
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			transition: border-color .2s
	&__prev
		margin-right: 11px
		&:before
			margin-left: -1px
			+arr(5,9,$l_green-2,l)
		&:active
			&:before
				+arr(5,9,#fff,l)
		+rm(1024)
			&:hover
				&:before
					+arr(5,9,#fff,l)
	&__next
		margin-left: 11px
		&:before
			margin-right: -1px
			+arr(5,9,$l_green-2,r)
		&:active
			&:before
				+arr(5,9,#fff,r)
		+rm(1024)
			&:hover
				&:before
					+arr(5,9,#fff,r)
// hist
.hist
	font-size: 14px
	&__item
		margin-right: 15px
		vertical-align: top
		display: inline-block
		+r(960)
			margin-top: 5px
		&:first-child
			margin-left: 0
	&__name
		vertical-align: top
		display: inline-block
	&__color
		margin: 1px 8px 0 0
		height: 14px
		width: 14px
		vertical-align: top
		display: inline-block
		&.is-blue
			background: $blue
		&.is-pink
			background: $pink
		&.is-green
			background: $bg_hist_green

// block
.block
	border: 1px solid $bord_cab
	border-radius: 5px
	+r(768)
		border-radius: 0
		border-left: none
		border-right: none
	& + .block
		margin-top: 9px
		+r(1024)
			margin-top: 25px
	.title-small
		margin-bottom: 15px
	.btn
		margin-top: 12px
		width: 100%
		+r(1024)
			width: auto
		&:first-child
			margin-top: 0
	.messages
		margin: 0 -20px -10px 0
		+r(768)
			margin: 0

// count
.count
	font-size: 20px
	+r400
	vertical-align: top
	display: inline-block
	& + .btn
		margin-left: 15px
		+r(1024)
			margin-left: 10px
	&__item,
	&__text,
	&__bal
		display: inline-block
	&__item
		vertical-align: top
		margin-left: 30px
		&:first-child
			margin-left: 0
	&__text
		color: #a1a1a1
	&__bal
		color: #61c2c1
		+r700
		&.is-reserve
			color: #7fd665

// name
.name
	+r700
	font-size: 14px
	text-transform: uppercase
	vertical-align: top
	letter-spacing: -.4px
	display: inline-block

// bott
.bott
	position: relative
	+clr
	+r(768)
		padding: 0 30px 30px
	.btn
		float: right
		margin-top: 20px
		+r(768)
			margin: 24px 0 0
	.pagin
		float: left
		margin-left: 130px
		width: calc(100% - 260px)
		+r(768)
			margin-left: 0
			width: 100%

// stat
.stat
	color: $blue

// messages 
.messages
	&.is-open
		.messages__in
			height: 485px
			overflow-y: auto
			+r(1024)
				height: 200px
		.messages__bot
			display: none
	.message + .title-cap
		margin-top: 20px
	.title-cap
		display: block
	&__in
		height: 427px
		overflow: hidden
		+r(1024)
			height: 125px
		&::-webkit-scrollbar
			width: 7px
		&::-webkit-scrollbar-thumb
			border-radius: 4px
			background: #bcc2c2 
			+dr(#bcc2c2,15)
	&__bot
		margin-top: 20px


// message
.message
	margin-top: 17px
	& + .btn
		margin-top: 20px

// i-am, patient
.i-am,
.patient
	font-size: 12px
	line-height: 1.1
	+r400
	transition: color .3s
	display: block

.i-am
	color: #7fd665
	&:hover
		color: darken(#7fd665,15%)

.patient
	color: $l_green-2
	&:hover
		color: darken($l_green-2,15%)

// face
.face
	position: relative
	height: 71px
	width: 71px
	overflow: hidden
	border: 5px solid #ebebeb
	border-radius: 50%
	img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)

// links
.links
	padding: 19px 0 23px
	+r400
	background: $blue
	&__in
		@extend %in
		font-size: 0
		text-align: right
	&__item
		margin-left: 10px
		padding: 0 40px
		height: 38px
		min-width: 221px
		text-align: center
		line-height: 38px
		color: #fff
		font-size: 16px
		vertical-align: top
		+box
		transition: background .2s, color .2s
		border-radius: 5px
		background: #7499d2
		display: inline-block
		+r(768)
			margin: 10px 0 0
			width: 100%
			&:first-child
				margin-top: 0
		&:hover
			color: $blue
			background: #fff
		&:first-child
			margin-left: 0

.row
	margin-top: 20px
	+clr
	&.is-mod
		margin-top: 10px
	&.is-btn
		.btn,
		& + .btn
			+r(1279)
				margin: 10px 0 0
				width: 100%
				&:first-child
					margin-top: 0
	.title-small
		margin-bottom: 5px
	.column
		float: left
		padding-left: 15px
		width: 50%
		+box
		+r(768)
			float: none
			padding-left: 0
			width: auto
		&:first-child
			padding-left: 0
	ul + p
		margin-top: 4px
	p
		margin: 0

.col
	margin-left: 50px
	vertical-align: top
	display: inline-block
	&:first-child
		margin-left: 0
	.title-h5
		margin-top: 8px
		&:first-child
			margin-top: 0
		& + p
			margin-top: 2px
			line-height: 1.2
			&:first-child
				margin-top: 0
		& + ul
			margin-top: 8px

// text-right
.text-right
	text-align: right

// take
.take
	margin-top: 8px
	color: $blue
	font-size: 13px
	font-style: italic
	letter-spacing: -.2px
	line-height: 1.2
	display: block
	&:hover
		span
			border-color: $blue
	span
		border-bottom: 1px solid transparent
		transition: border-color .2s

// call
.call
	position: fixed
	left: 0
	right: 10px
	bottom: 30px
	+r700
	font-size: 12px
	transition: bottom .3s
	text-transform: uppercase
	text-align: center
	&.is-go-top
		bottom: 172px
		+r(768)
			bottom: 472px
	&__in
		position: relative
		width: 100%
	&__circle
		position: absolute
		bottom: 0
		right: 10px
		height: 90px
		width: 90px
		color: #fff 
		line-height: 90px
		z-index: 10
		border-radius: 50%
		background-color: #7ad232
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.48)
		&:hover
			+rm(1024)
				.call__text
					transform: scale(1) translateX(0)
				.call__ico
					transform: scale(0) translateX(-100%)
		&:before
			position: absolute
			content: ''
			top: 50%
			right: -11px
			margin-top: -8px
			+arr(13,17,#7ad232,r)
	&__ico
		position: absolute
		height: 40px
		width: 40px
		top: 50%
		left: 50%
		margin: -20px 0 0 -18px
		transition: transform .3s
		&:after
			position: absolute
			top: 0
			left: 0
			content: '' 
			animation: call .8s infinite ease-in-out
			+s(cellular_phone)
	&__text
		line-height: 1.4
		vertical-align: middle
		transition: transform .3s
		transform: scale(0) translateX(100%)
		display: inline-block

@keyframes call
	0%
		transform: rotate(10deg) scale(1.15)
	50%
		transform: rotate(0) scale(1)
	100%
		transform: rotate(10deg) scale(1.15)

// popup
.popup
	padding: 30px 0
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: none
	z-index: 100
	overflow-y: scroll
	background: rgba(#000, .5)
	+vertical
	&.is-active
		display: block
	&__in
		width: 380px
		color: $c_body
		text-align: left
		vertical-align: middle
		display: inline-block
	.form
		font-size: 16px
		+r400
		border-radius: 5px
		box-shadow: 0 0 7.8px 0.2px rgba(0, 0, 0, 0.36)
		background: #fff
	.time
		display: inline-block
	.date,
	.time
		color: $blue
		+r400
	.radiobox
		margin: 0
		display: block
	.btn
		width: 100%
		display: block

// add-review
.add-review
	+r(768)
		margin-top: 30px
		.title-small
			padding-top: 0
			padding-left: 0

// yet
.yet
	margin-top: 30px
	text-align: center
	+r(768)
		padding: 0 30px
		& + .pagin
			margin-bottom: 24px

// rem-it
.rem-it
	margin: -2px 0 0 2px
	display: inline-block

// is-hide
.is-hide
	display: none

.is-hide-tab
	+r(1024)
		display: none
		+r(768)
			display: block
.is-show-tab
	+r(1024)
		display: block
		+r(768)
			display: none

.is-hide-mob
	+r(768)
		display: none !important
.is-show-mob
	display: none !important
	+r(768)
		display: block !important
