// # SHORT HOWTO 
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


body
	min-width: 480px
	color: $c_body
	+hl
	font-size: 15px
	line-height: 22px
	background: #fff
	+r(768)
		font-size: 18px
	&.is-hidden
		overflow: hidden

a
	text-decoration: none

// common blocks

// cab
.cab
	background: darken($light, 5%)
	&__in
		@extend %in
	.banner 
		margin: 30px 0 0
		&:first-child
			position: relative
			top: 30px
			margin: 0 0 30px

// tab
.tab
	padding: 33px 0 60px
	+r(768)
		padding: 35px 0 
	&.is-data
		.tab__item
			margin-left: 1%
			width: calc(32.66%)
			+r(768)
				margin: 0
				width: 100%
				display: block
			&:first-child
				margin-left: 0
	& + .banner
		position: relative
		margin: 0
		bottom: 30px
		+r(768)
			margin-top: 25px
	&__list
		font-size: 0
		width: 100%
		+r(768)
			display: none
	&__item
		position: relative
		margin-left: 0.5%
		width: calc(16.25%)
		text-align: center
		font-size: 16px
		+r400
		vertical-align: top
		background: $l_green
		border-radius: 20px 20px 0px 0px
		transition: background .2s
		box-shadow: 0 2px 6.7px 0.3px rgba(0, 0, 0, 0.15)
		display: inline-block
		+r(768)
			margin: 0
			width: 100%
			font-size: 18px
			text-align: left
			border-radius: 0
			border-top: 1px solid #86d0cf
			display: block
		&:before
			position: absolute
			content: ''
			top: 100%
			left: -3px
			right: -3px
			height: 6px
			background: #fff
			+r(768)
				display: none
		&:active
			background: #fff
			.tab__link
				&:before
					+arr(13,7,#ccc,t)
			&:before
				background: #fff
			.tab__link
				color: $c_body
			.tab__step
				background: $l_green
				color: #fff
				&:before
					background: #fff
		+rm(1024)
			&:hover
				z-index: 2
				background: #fff
				&:before
					background: #fff
				.tab__link
					color: $c_body
				.tab__step
					background: $l_green
					color: #fff
		&:first-child
			margin-left: 0
			+r(768)
				border-top: none
			&:before
				left: 0
		&:last-child
			&:before
				right: 0
		&.is-active
			background: #fff
			z-index: 2
			+r(768)
				z-index: 0
				border-radius: 5px 5px 0 0
				border-top: none
				border-bottom: 1px solid $bord_cab
				box-shadow: 0 7px 0 #fff, 0 2px 6.7px 0.3px rgba(0, 0, 0, 0.15)
				overflow: hidden
			&:before
				background: #fff
			.tab__link
				color: $c_body
				&:before
					+arr(13,7,#ccc,t)
			.tab__step
				background: $l_green
				color: #fff
				&:before
					background: #fff
	&__link
		height: 46px
		color: #fff
		line-height: 46px
		transition: color .2s
		display: block
		+r(768)
			padding: 0 45px 0 30px
			height: 60px
			line-height: 60px
			&:before
				position: absolute
				content: ''
				top: 50%
				right: 30px
				margin-top: -3px
				background: transparent
				+arr(13,7,#fff,b)
		span
			+r(768) 
				vertical-align: middle
	&__step
		margin-right: 10px
		height: 23px
		width: 23px
		color: $l_green
		text-align: center
		line-height: 23px
		vertical-align: middle
		transition: background .2s, color .2s
		border-radius: 50%
		background: #fff
		display: inline-block
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 30px
			width: 13px
			height: 13px
			margin-top: -6px
			transition: background .2s
			background: $l_green
			display: none
			+r(768)
				display: block
	&__in
		position: relative
		padding: 35px 50px 50px
		box-shadow: 0 2px 6.7px 0.3px rgba(0, 0, 0, 0.15)
		z-index: 1
		background: #fff
		+r(768)
			padding: 0
			box-shadow: none
			background: none
	&__cont
		+r(768)
			overflow: hidden
			border-radius: 0 0 5px 5px
			box-shadow: 0 2px 5.7px 0.3px rgba(0, 0, 0, 0.2)
			background: #fff
	&__block
		margin: 10px 0
		overflow: hidden
		border-radius: 5px 
		box-shadow: 0 2px 5.7px 0.3px rgba(0, 0, 0, 0.2)
		display: none
		+r(768)
			display: block
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0
		.tab__item
			box-shadow: none
	.wrapper
		+r(768)
			border-radius: 0
			border-left: none
			border-right: none
			.form
				border-radius: 0
	.btn
		+r(768)
			height: 45px
			width: 100%
			line-height: 45px
			font-size: 18px
	strong
		+r700

// event
.event
	line-height: 1.3
	& + .event
		margin-top: 20px
	& + .btn
		margin-top: 20px
	&__row
		.date
			display: inline-block
	a
		color: $blue
		transition: border-color .3s
		border-bottom: 1px solid transparent
		&:active
			border-color: $blue
		+rm(1024)
			&:hover
				border-color: $blue

// filt
.filt
	font-size: 0
	+clr
	&__col
		margin-left: 1%
		font-size: 16px
		vertical-align: top
		display: inline-block
		+r(1280)
			margin: 10px 0 0
			width: 100% !important
		&:first-child
			width: 23.8%
			margin-left: 0
		&.is-date
			width: 241px
		&.is-stat
			width: 25.3%
		&.is-btn
			margin-top: 24px
			width: 16.4%
		.btn
			width: 100%
			+r(1280)
				width: auto
				min-width: 208px
				+r(1023)
					margin: 0
				+r(768)
					width: 100%
	&__row
		font-size: 0
	&__label
		margin-bottom: 2px
	&__text
		+r400
		font-size: 16px
		display: inline-block
	&__sel
		float: right
		width: calc(100% - 364px)
		+r(768)
			float: none
			margin-top: 10px
			padding: 0 30px
			width: 100%
			+box
		.search
			width: 100%
	&__search
		float: left
		margin: 28px 9px 0 0
		width: 413px
		+r(960)
			float: none
			width: 100%
	&__in
		+clr
		+r(768)
			padding: 0 30px
	.filt__right
		float: right
		width: calc(100% - 422px)
		+clr
		+r(960)
			float: none
			margin-top: 10px
			width: 100%
		.datepicker
			margin-left: 5px
			width: 118px
			+r(960)
				margin-left: 2%
				width: 49%
				&:first-child
					margin-left: 0
	.filt__left
		float: left
		+clr
		+r(768)
			float: none
			padding: 0 30px
			width: 100%
			+box
		.filt__text
			margin: 7px 12px 0 0
			+r(768)
				display: block
				&:first-child
					margin-top: 0
			& + .datepicker
				+r(768)
					margin-top: 0
		.datepicker
			float: right
			margin-left: 5px
			width: 118px
			+r(768)
				margin: 10px 0 0
				width: 100%
	.filt__inl
		float: right
		+clr
		+r(768)
			float: none
			margin-top: 5px
		.datepicker
			float: left
			+r(768)
				margin: 0 0 0 8px
				width: calc(50% - 4px)
				&:first-child
					margin-left: 0
	.select
		display: block
	.datepicker
		margin-left: 2%
		width: 49%
		&:first-child
			margin-left: 0

// datepicker
.datepicker
	position: relative
	vertical-align: top
	display: inline-block
	input
		padding: 0 32px 0 10px
		height: 38px
		font-size: 16px
		+r400
		color: $c_body
		background-color: #fff
		border: 1px solid $bord_select
		border-radius: 5px
		width: 100%
		+box
		display: block
		&::placeholder
			color: $c_body
	img
		position: absolute
		top: 50%
		right: 11px
		margin-top: -9px
		cursor: pointer

// dat-text
.dat-text
	margin-top: 8px
	display: inline-block

.ui-datepicker
	width: 14.1em
	.ui-widget-header,
	.ui-state-highlight,
	.ui-state-hover
		border-color: $bord_select
		background: $l_green
	.ui-state-highlight,
	.ui-state-hover
		color: #fff
	.ui-state-active
		border-color: $red
		color: $blue
	.ui-corner-all
		cursor: pointer
	td span,
	td a
		text-align: center


// res
.res
	&__title
		margin-bottom: 24px
		+r400
		color: $l_green
		font-size: 20px
	&__in
		+clr
	&__col
		float: left
		width: 50%
		+r(768)
			width: 100%
			& + .res__col
				margin-top: 24px
	&__bot
		margin-top: 32px
		+r(768)
			margin: 30px -30px 0
			padding: 25px 30px 0
			border-top: 1px solid #e6e6e6
		.btn
			+r(1023)
				min-width: 208px
			+r(768)
				width: 100%
	.event
		& + .event
			margin-top: 24px

// unit
.unit
	padding: 22px 30px 30px
	+r400
	border-radius: 5px
	box-shadow: 0 2px 5.7px 0.3px rgba(0, 0, 0, 0.2)
	+box
	& + .unit
		margin-top: 10px
	&__row
		margin-top: 15px
		&:first-child
			margin-top: 0
		& > a,
		p > a
			color: $blue
			line-height: 18px
			&:active
				border-color: $blue
			+rm(1024)
				&:hover
					border-color: $blue
	&__but
		margin-top: 17px
		.btn
			+r(1279)
				padding: 0 18px
				font-size: 11px
				+r(1024)
					padding: 0 28px
					font-size: 14px
					width: auto
					+r(768)
						width: 100%
	&__inst
		margin-top: 18px
		a
			color: inherit
			&:active
				border-color: $c_body
			+rm(1024)
				&:hover
					border-color: $c_body
	&__wr
		position: relative
		padding-right: 58px
		margin-top: 15px
		.btn-open
			position: absolute
			right: 0
			top: 0
		& + .unit__wr
			margin-top: 15px
	a
		transition: border-color .2s, background .3s
		border-bottom: 1px solid transparent
	.date
		font-size: 20px
		text-transform: uppercase
		letter-spacing: -.5px
	.field
		margin: 25px -20px -20px
		padding: 20px
	.title-small
		& + p
			margin-top: 20px

// invited
.invited
	a
		color: $blue
		line-height: 18px
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $blue
		+rm(1024)
			&:hover
				border-color: $blue
	&__remove
		position: relative
		top: -1px
		font-size: 0
		margin-left: 2px
		background: transparent
		display: inline-block

// catal
.catal
	float: right
	width: 73.5%
	+r(1024)
		margin-top: 30px
		width: 100%
	&__filter
		+clr
		.select,
		.search
			float: left
			margin-left: 1%
			width: 23.55%
			+r(768)
				margin: 10px 0 0
				width: 100%
				&:first-child
					margin-top: 0
			&:first-child
				margin-left: 0
		.search
			width: 50.7%
	&__top
		margin-top: 19px
		+clr
		.sorting
			margin-top: 12px
	&__left
		overflow: hidden
	&__right
		float: right
		width: 33.8%
	&__in
		margin-top: 21px
	&__bot
		margin-top: 31px
		text-align: center
		.btn
			+r(768)
				width: 100%

// search
.search
	position: relative
	& + .btn
		+r(768)
			margin-top: 10px
	&__field
		.input
			padding-right: 35px
	&__btn
		position: absolute
		top: 50%
		right: 10px
		transform: translate3d(0,0,0)
		transform: translate(0,-50%)
		transition: opacity .2s
		width: 21px
		height: 21px
		text-align: center
		line-height: 1
		background: none
		&:active
			opacity: .8
		+rm(1024)
			&:hover
				opacity: .8


// specialists
.specialists
	position: relative
	margin: 25px -30px 0
	padding: 10px 10px 0 30px
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		right: 0
		height: 1px 
		background: #e5e5e5
	&__list
		padding-top: 12px
		max-height: 218px
		overflow-y: auto
		&::-webkit-scrollbar
			width: 7px
		&::-webkit-scrollbar-thumb
			border-radius: 4px
			background: #bcc2c2
			+dr(#bcc2c2,15%)
		a
			color: inherit
			&:active
				border-color: $c_body
			+rm(1024)
				&:hover
					border-color: $c_body

// sorting
.sorting
	+r(400)
	font-size: 0
	&__item
		position: relative	
		padding: 0 10px
		font-size: 16px
		vertical-align: top
		display: inline-block
		&:first-child
			padding-left: 0
			&:before
				display: none
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 0
			margin-top: calc(-9px / 2)
			height: 9px
			border-left: 1px solid $bd_nav
	a
		position: relative
		padding-right: 19px
		color: $blue
		display: block
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 0
			margin-top: -3px
			+arr(9,5,#ccc,b)

// calendar
.calendar
	padding: 0 43px
	+r(400)
	font-size: 14px
	letter-spacing: -.4px
	line-height: 1.25
	box-shadow: (inset 0 0 0 1px $bord_select)
	border-radius: 5px
	+r(1279)
		font-size: 11px
		+r(768)
			padding: 0 59px
			font-size: 18px
	.calendar__day
		padding: 8px 10px
		height: 47px
		box-shadow: (1px 0 0 $bord_select)
		+box
		+r(768)
			padding: 10px 15px
			height: 60px
		&:first-child
			border-left: none
	.slick-prev,
	.slick-next
		top: 0
		margin: 0
		height: 47px
		width: 43px
		+r(768)
			height: 59px
			width: 59px
		&:active
			&:before
				opacity: .5
		+rm(1024)
			&:hover
				&:before
					opacity: .5
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			transition: opacity .2s
			transform: translate3d(0,0,0)
			transform: translate(-50%,-50%)
		&.slick-disabled
			opacity: 1
	.slick-prev
		box-shadow: (1px 0 0 $bord_select)
		&:before
			+arr(5,9,#ccc,l)
			+r(768)
				+arr(8,15,#ccc,l)
	.slick-next
		box-shadow: (-1px 0 0 $bord_select)
		&:before
			+arr(5,9,#ccc,r)
			+r(768)
				+arr(8,15,#ccc,r)

// fullcalendar
.fullcalendar
	overflow: hidden
	border: 1px solid $bord_cab
	border-radius: 5px
	+r(768)
		border-radius: 0
		border-left: none
		border-right: none
	.fc-toolbar
		margin-bottom: 0
		background: $bg_head_ful
		.fc-button
			height: 51px
			width: 40px
			font-size: 0
			border: none
			box-shadow: none
			background: none
			&:before
				position: absolute
				content: ''
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				transition: border-color .2s
		.fc-next-button
			&:before
				+arr(5,9,$bord_add_full,r)
			&:hover
				&:before
					+arr(5,9,darken($bord_add_full, 20%),r)
		.fc-prev-button
			&:before
				+arr(5,9,$bord_add_full,l)
			&:hover
				&:before
					+arr(5,9,darken($bord_add_full, 20%),l)
	.fc-center
		margin-top: 16px
		text-transform: uppercase
		h2
			font-size: 16px
			+r400
	.fc-head
		display: none
	.fc-basic-view td.fc-day-number
		position: relative
		text-align: left
		padding: 12px 15px
		padding-top: 6.5%
		font-size: 24px
		cursor: pointer
		+r(768)
			padding-top: 8.5%
		&.fc-mon,
		&.fc-tue,
		&.fc-wed,
		&.fc-thu,
		&.fc-fri,
		&.fc-sat,
		&.fc-sun
			&:before
				position: absolute
				top: 9px
				right: 9px
				font-size: 12px
				line-height: 1
				+r300
		&.fc-mon
			&:before
				content: 'Пн'
		&.fc-tue
			&:before
				content: 'Вт'
		&.fc-wed
			&:before
				content: 'Ср'
		&.fc-thu
			&:before
				content: 'Чт'
		&.fc-fri
			&:before
				content: 'Пт'
		&.fc-sat
			&:before
				content: 'Сб'
		&.fc-sun
			&:before
				content: 'Вс'
	.fc-widget-content
		border-bottom: none
		&:first-child
			border-left: none !important
		&:last-child
			border-right: none !important
	.fc-view > table
		width: calc(100% + 1px)


// doc
.doc
	position: relative
	margin-top: 9px
	overflow: hidden
	border-radius: 5px
	transform: translate3d(0,0,0)
	box-shadow: 0 2px 5.7px 0.3px rgba(0, 0, 0, 0.2)
	+clr
	+r(768)
		overflow: initial
	&:first-child
		margin-top: 0
	&__left
		float: left
		padding: 40px 0 30px
		width: 30.14%
		text-align: center
		+r(768)
			float: none
			padding: 43px 10px 40px
			width: 100%
			+box
	&__img
		position: relative
		height: 197px
		width: 197px
		overflow: hidden
		border-radius: 50%
		border: 8px solid #ebebeb
		+box
		vertical-align: top
		display: inline-block
		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate3d(0,0,0)
			transform: translate(-50%,-50%)
			display: block
	&__price
		margin-top: 30px
		font-size: 18px
		+r400
		+r(960)
			font-size: 16px
			+r(768)
				margin-top: 16px
				font-size: 22px
	&__cost
		color: $blue
		font-weight: 700
		font-variant: small-caps
	&__center
		float: left
		width: 34.446%
		padding: 33px 25px 30px 0
		+box
		+r(960)
			padding-left: 5px
			+r(768)
				float: none
				padding: 22px 30px
				width: 100%
				border-top: 1px solid #e5e5e5
	&__stat
		color: $blue
		font-size: 16px
		+r400
		+r(768)
			font-size: 18px
	&__inf
		margin-top: 12px
		font-size: 0
		+r400
		.rating
			margin-top: 1px
			vertical-align: top
			display: inline-block
	&__reviews,
	&__rating
		position: relative
		padding: 0 8px
		font-size: 16px
		vertical-align: top
		display: inline-block
		+r(768)
			font-size: 18px
		&:first-child
			padding-left: 0
			&:before
				display: none
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 0
			transform: translate(0,-50%)
			height: 9px
			border-left: 1px dotted $bd_nav
		& > a
			color: $blue
			transition: border-color .2s
			border-bottom: 1px solid transparent
			&:active
				border-color: $blue
			+rm(1024)
				&:hover
					border-color: $blue
	&__title 
		margin-top: 5px
		padding-right: 75px
		letter-spacing: -.1px
		font-size: 16px
		line-height: 1.2
		+r400
	&__text
		margin-top: 11px
		color: $c_doc
		line-height: 1.2
		letter-spacing: -.2px
		+r(768)
			font-size: 17px
	&__right
		position: absolute
		top: 0
		right: 0
		bottom: 0
		min-height: 345px
		width: 33.8%
		font-size: 0
		background: $l_green-2
		+box
		+r(768)
			display: none
		.days
			position: absolute
			top: 50%
			left: 0
			right: 0
			transform: translate(0,-50%)
	.title-small
		margin-bottom: 12px

// doc-calendar
.doc-calendar
	margin: 25px 0
	display: none
	+r(768)
		display: block
	.calendar
		margin-bottom: 10px
		color: #767676
	.days
		padding: 35px 60px 40px
		border-radius: 5px
	.day
		font-size: 20px
	.btn
		font-size: 18px
		height: 32px
		line-height: 25px

.days
	position: relative
	padding: 35px 49px 40px 45px
	font-size: 0
	background: $l_green-2
	+box
	+clr
	+r(1279)
		padding: 35px 29px 40px 25px
	.popup
		position: absolute
		top: 100%
		width: 100%
		right: 0
		margin-top: 53px
		z-index: 2
		+r(768)
			top: 0
			margin-top: 0

// day
.day
	margin-left: 6.96%
	width: 28.6%
	+r400
	font-size: 15px
	color: #fff
	text-align: center
	vertical-align: top
	display: inline-block
	&:first-child
		margin-left: 0
	&__time
		margin-top: 11px
		display: block
		&:first-child
			margin-top: 0
	&__but
		margin-top: 24px
	.btn
		width: 100%
	a
		color: #fff
	span
		color: #76d6d5

// chat
.chat
	padding: 25px
	+box
	border-radius: 5px
	border: 1px solid $bord_cab
	+clr
	+r(1024)
		margin: 30px 0 50px
	&__left
		float: left
		width: 20%
		+clr
		+r(1024)
			width: 100%
	.chat__top
		+r(1024)
			float: left
			margin-right: 30px
			+r(768)
				float: none
				margin: 0
		& + .request
			margin: 0
			overflow: hidden
			+r(768)
				margin-top: 25px
				.btn
					width: 100%
			.input
				width: calc(100% - 20px)
	&__right
		float: right
		padding: 0 0 0 20px
		width: 75%
		+r(1024)
			margin-top: 30px
			width: 100%
	&__wrap
		+clr
	&__row
		margin-bottom: 6%
		font-size: 0
		&.is-big
			+r(1024)
				margin-bottom: 0
			.sub
				width: 30.7%
				&:nth-child(4n+4)
					margin-left: 0
					+r(768)
						margin: 0 0 3.4% 3.4%
				+r(768)
					width: 47%
					&:nth-child(odd)
						margin-left: 0
		.sub
			margin: 0 0 3.4% 3.4%
			width: 22%
			font-size: 14px
			vertical-align: top
			display: inline-block
			+r(768)
				width: 47%
				&:nth-child(odd)
					margin-left: 0
			&:first-child
				margin-left: 0
			a
				color: $l_blue
				+hl
				transition: border-color .2s
				border-bottom: 1px solid $l_blue
				&:hover
					border-color: transparent
	&__talk
		margin-top: 25px
		+clr
		& > .btn
			float: right
			margin-left: 25px
			+r(768)
				float: none
				margin: 0 0 25px
				width: 100%
		.talk
			overflow: hidden
	.request
		margin-top: 70px
	.time
		margin-top: 15px

// mapping
.mapping
	border: 1px solid $bord_cab
	overflow: hidden
	border-radius: 5px
	width: 180px
	+r(768)
		width: 100%
	&__video
		height: 155px
		background: #000
		+r(768)
			height: auto
		img
			width: 100%
			display: block
	&__name
		padding: 5px 10px
		border-top: 1px solid $bord_cab

// time
.time
	&__text
		+hlb
	&__text,
	&__numb
		vertical-align: top
		display: inline-block

// request
.request
	&__title
		+hlb
	&__wrap
		margin-top: 10px
	&__input
		margin-bottom: 15px
	&__currency
		line-height: 38px
	&__doc
		+hlb
	&__price
		margin-left: 4px
		+hl
	&__name,
	&__price
		vertical-align: top
		display: inline-block
	&__currency,
	.input
		vertical-align: top
		display: inline-block
	.input
		width: 168px
	.btn
		padding: 0 20px
		min-width: 180px

// sub
.sub
	max-width: calc(100% - 259px)
	overflow: hidden
	border-radius: 5px
	border: 1px solid $bord_cab
	+r(1024)
		max-width: 100%
	&__video
		position: relative
		&:hover
			.sub__control
				background: rgba(#000, .5)
		img
			width: 100%
			display: block
	&__control
		position: absolute
		left: 0
		right: 0
		bottom: 0
		padding: 7px 7px 0 5px
		z-index: 10
		transition: background .2s
		background: rgba(#000, .2)
		text-align: right
	&__name
		border-top: 1px solid $bord_cab
		+hlb
		padding: 5px 10px

// volume
.volume
	color: #fff
	vertical-align: top
	display: inline-block
	&:hover
		.volume__ico
			transform: scale(1.25)
			opacity: 1
		.volume__block
			opacity: 1
			visibility: visible
	&__ico
		font-size: 14px
		cursor: pointer
		transform: translate3d(0,0,0)
		will-change: transform, opacity
		opacity: .4
		transition: transform .2s, opacity .2s
		&:hover
			transform: scale(1.25)
			opacity: 1
	&__block
		position: relative
		opacity: 0
		will-change: opacity
		transform: translate3d(0,0,0)
		visibility: hidden
		transition: visibility .2s, opacity .2s
	&__ico,
	&__block
		vertical-align: top
		display: inline-block
	&__progress
		margin-top: 3px
		width: 50px
		height: 6px
		cursor: pointer
		background: $l_green
	&__toddler
		width: 4px
		height: 14px
		position: absolute
		top: -1px
		border-radius: 4px
		cursor: pointer
		background: #fff

// fullscreen increase
.fullscreen,
.increase
	margin-left: 5px
	color: #fff
	font-size: 14px
	line-height: 1
	vertical-align: top
	cursor: pointer
	transform: translate3d(0,0,0)
	will-change: transform, opacity
	opacity: .4
	transition: transform .2s, opacity .2s
	display: inline-block
	&:hover
		transform: scale(1.25)
		opacity: 1

// talk
.talk
	&__wrap
		overflow: hidden
		border-radius: 5px
		border: 1px solid $bord_cab
	&__wind
		padding: 10px
		height: 125px
		overflow-y: auto
		p
			margin-top: 5px
			&:first-child
				margin-top: 0
	&__input
		position: relative
	&__send
		position: absolute
		top: 50%
		right: 10px
		color: $l_green
		margin-top: -14px
		transition: color .2s
		background: transparent
		&:hover
			color: darken($l_green, 15%)
		&:active
			color: darken($l_green, 20%)
		.icon
			font-size: 28px
	&__butt
		margin-top: 25px
		+clr
	.btn
		float: right
		margin: 0
		&:first-child
			float: left
	.input
		border-color: $bord_cab
		border-radius: 0
		border-bottom: none
		border-left: none
		border-right: none

// full
.full
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 100
	overflow: hidden
	background: #000
	display: none
	&.is-active
		display: block
	&:hover
		.full__control
			background: rgba(#000, .5)
	img
		width: 100%
	// &__name
	&__control
		position: absolute
		bottom: 0
		left: 0
		right: 0
		padding: 7px 7px 0
		z-index: 10
		transition: background .2s
		background: rgba(#000, .2)
		text-align: right

// topper
.topper
	+clr
	+r(768)
		padding: 25px 30px
	& + .topper
		margin-top: 20px
		+r(768)
			margin-top: 0
			padding-top: 0
	& + .filt
		margin-top: 17px
		+r(768)
			margin-top: 0
	&__left
		float: left
		+r(1024)
			float: none
	&__right
		float: right
		+r(1024)
			float: none
			margin-top: 10px
		.btn
			margin-top: -2px
	.btn
		margin-left: 2px
		+r(768)
			margin: 10px 0 0
			&:first-child
				margin-top: 0
		&:first-child
			margin-left: 0
	.name
		margin: 4px 8px 0 0

// bill
.bill
	.field
		table-layout: fixed
		&:hover
			color: #fff
			background: #61c2c1
			.btn-text,
			a
				color: #fff
	.td
		width: 30%
		+r(1024)
			padding-right: 10px
			width: 25%
		&:nth-child(2)
			+r(1024)
				width: 33%
		&:nth-child(3)
			width: 66%
			+r(1024)
				width: 60%
		&:nth-child(4)
			width: 32%
		&:last-child
			width: 11% 
			+r(1200)
				width: 70px
	.date
		+r400
		+r(960)
			display: block
			+r(768) 
				font-size: inherit
				display: inline-block

// hist
.hist
	& + .pagin
		+r(768)
			margin-bottom: 24px
	.field
		table-layout: fixed
	.td
		+r(1200)
			padding-right: 10px
		&:first-child
			width: 20%
			+r(1024)
				width: 130px
		&:nth-child(2)
			width: 35%
		&:nth-child(3)
			width: 36%
		&:nth-child(4)
			width: 32%
		&:last-child
			width: 72px
	.select
		margin-right: 10px
		max-width: 248px
		+r(768)
			margin-top: 4px
			max-width: 100%

// patients
.patients
	.wrapper
		margin-top: 0
		.field
			&:hover
				color: $c_body
				background: transparent
				a
					color: $blue
		a
			&:hover
				color: darken($blue, 15%) !important
	.td
		padding-right: 10px
		&:first-child
			width: 23.5%
		&:nth-child(2)
			width: 28.6%
		&:nth-child(3)
			width: 39.3%
		&:last-child
			padding-right: 0
			width: 72px
			+r(1200)
				width: 34px
	.btn-open
		+r(960)
			min-width: 218px
			height: 45px
			line-height: 45px
			+r(768)
				width: 100%

// reviews
.reviews
	&.is-mod
		.td
			&:nth-child(2)
				position: relative
				&:before
					position: absolute
					content: ''
					top: -25px
					right: 0
					bottom: -25px
					width: 1px
					background: $bord_cab
					+r(960)
						display: none
			&:nth-child(3)
				padding-left: 26px
				width: 855px
				+r(960)
					padding: 0 0 0 109px
					+box
		.title-small,
		.date
			+r(768)
				padding-left: 0
		.title-small
			+r(768)
				margin-bottom: 10px
			&:first-child
				+r(768)
					padding-top: 0
	& > .date
		+r(768)
			padding: 0 30px
			text-transform: uppercase
			font-size: 16px
	& + .pagin
		+r(768)
			margin-bottom: 24px
	.title-small
		margin-bottom: 22px
		+r(768)
			padding: 27px 30px 0
			margin-bottom: 20px
			text-align: left
			& + .title-small
				padding-top: 0
	.wrapper
		margin: 10px 0 25px
	.td
		vertical-align: top
		+r(1200)
			padding-right: 10px
		&:first-child
			width: 110px
			+r(960)
				float: left
				padding-right: 28px
				width: 81px !important
		&:nth-child(2)
			width: 232px
			+r(960)
				margin-top: 0
				width: calc(100% - 109px)
		&:nth-child(3)
			width: 675px
			+r(960)
				padding: 0 0 0 109px
				+box
		&:last-child
			vertical-align: middle
			min-width: 70px
			+r(960)
				text-align: center
		.date
			+r400
	.rating
		margin-top: 12px
		font-size: 16px
		+r(960)
			margin-top: 8px
// details
.details
	&__in
		margin: 0 auto
		width: 508px
		+r(768)
			width: 100%
	.title-small
		margin-bottom: 27px
		text-align: center
		+r(768)
			padding: 27px 30px 0
			text-align: left
	.wrapper
		+r(768)
			border-bottom: none

// inform
.inform
	&__in
		+clr
	&__left
		float: left
		width: 35.3%
		+clr
		+r(1200)
			width: 100%
			font-size: 0
	&__right
		float: right
		width: 62.5%
		+r(1200)
			margin-top: 23px
			width: 100%
			+r(768)
				margin-top: 0
	&__wrap
		+clr
	&__col
		float: left
		width: 48%
		margin-left: 4%
		+r(900)
			margin: 23px 0 0
			width: 100%
			&:first-child
				margin-top: 0
			+r(768)
				margin-top: 0
		&:first-child
			margin-left: 0
	&__bott
		margin-top: 16px
		+r(768)
			margin-top: 0
	.inform__foot 
		margin: 30px -50px -50px
		padding: 40px 54px 30px
		text-align: right
		border-top: 1px solid #e5e5e5
		+r(768)
			margin: 0
			padding: 30px
			border-top: none
		.btn
			min-width: 238px
	.form__row
		margin-top: 9px
		&:first-child
			margin-top: 0
	.wrapper
		margin-top: 16px
	.btn
		min-width: 183px
	.input
		&::placeholder
			color: $c_body
			opacity: 1
	.title-small
		margin-top: 23px
		+r(768)
			margin-top: 0
			padding: 27px 30px 0
			margin-bottom: 27px
			text-align: left
		&:first-child
			margin-top: 0

// schedule
.schedule
	+r400
	&__top
		+r(768)
			padding: 25px 29px 5px
		& > strong
			line-height: 26px
			vertical-align: top
			display: inline-block
			+r(768)
				display: block
		.radiobox
			+r(768)
				margin: 10px 0 0
				display: block
				&:first-child
					margin-top: 0
	.radiobox
		margin-left: 20px
		&:first-child
			margin-left: 0

// add-top
.add-top
	+clr
	.title-small
		float: left
		+r(768)
			margin: 0
			padding: 0
	.btn
		margin: -4px 0
		float: right
		+r(768)
			margin: 10px 0 0

// graph
.graph
	position: relative
	border-top: 1px solid $bord_cab
	+box
	background: $light
	+clr
	+r(480)
		font-size: 18px
	&:first-child
		border-top: none
	&__left
		float: left
		padding: 25px
		width: 31%
		+box
		+clr
		+r(1200)
			width: 26%
			+r(1024)
				width: 100%
				border-bottom: 1px solid $bord_cab
		&:before
			position: absolute
			content: ''
			left: 31%
			top: 0
			bottom: 0
			width: 1px
			background: $bord_cab
			+r(1200)
				left: 26%
			+r(1024)
				display: none
	&__right
		float: right
		width: 69%
		+box
		+r(1200)
			width: 74%
			+r(1024)
				width: 100%
	&__col
		float: left
		width: 56%
		+r(1200)
			width: 100%
		&:first-child
			width: 44%
			+r(1200)
				margin-bottom: 10px
				width: 100%
		.radiobox
			margin: 16px 0 0
			display: block
			+r(768)
				margin: 10px 0 0
				&:first-child
					margin-top: 0
			&:first-child
				margin-top: 0
	&__row
		padding: 18px 29px
		border-top: 1px solid $bord_cab
		+clr
		&:first-child
			border-top: none
		&.is-top
			padding: 29px 29px 27px
	&__field
		margin-top: 12px
		+clr
		&:first-child
			margin-top: 0
	&__tr
		margin-top: 10px
		&:first-child
			margin-top: 0
	&__in
		padding: 26px 29px
		+clr
		.radiobox
			margin: 0 0 0 18px
			vertical-align: top
			display: inline-block
			+r(768)
				margin: 10px 0 0
				display: block
				&:first-child
					margin-top: 0
			&:first-child
				margin-left: 0
	.graph__text
		margin: 0 5px
		line-height: 38px
		vertical-align: top
		display: inline-block
		&.is-w70
			& + .datepicker,
			& + .datepicker + .graph__text + .datepicker
				+r(768)
					width: calc(50% - 62px)
		&:first-child
			margin-left: 0
		& + .select,
		& + .datepicker
			+r(768)
				width: calc(50% - 27px)
		& + .select + .graph__text + .select
			+r(768)
				width: calc(50% - 28px)
	.datepicker
		width: 118px
		+r(768)
			width: 100%
		& + .btn
			margin: 3px 0 0 10px
			+r(768)
				margin: 10px 0 0
	.checkbox
		margin-left: 18px
		vertical-align: top
		display: inline-block
		+r(768)
			margin-left: 13px
			&:first-child
				margin-left: 0
		&:first-child
			margin-left: 0
		&:last-child
			+r(625)
				margin: 10px 0 0 0
				display: block
			+r(552)
				display: inline-block
		&:nth-last-child(2)
			+r(552)
				margin: 10px 13px 0 0
	.select
		width: 88px
		vertical-align: top
		display: inline-block
		+r(768)
			width: calc(50% - 19px)
		& + .graph__text + .select
			+r(768)
				width: calc(50% - 18px)
		& + .btn
			margin: 3px 0 0 10px
			+r(768)
				margin: 10px 0 0
	.btn
		min-width: 183px

// login
.login
	padding: 40px 0 50px
	&__form
		margin: 0 auto
		max-width: 298px
	.btn
		width: 100%
	.form__label
		margin-bottom: 5px
	.form__row 
		margin-top: 10px
	.title-small
		text-align: center

// up
.up
	position: relative
	margin: 8px 0 18px
	padding: 45px 54px 50px 60px
	color: #fff
	font-size: 15px
	line-height: 1.3
	background: #4671b3
	&__close
		position: absolute
		top: 12px
		right: 13px
		will-change: opacity
		transition: opacity .2s
		background: transparent
		+s(remove)
		&:hover
			opacity: .7
	&__wrap
		margin-top: 12px
		+clr
	&__left
		float: left
		+r(768)
			float: none
	&__right
		float: right
		text-align: right
		+r(768)
			float: none
			margin-top: 25px
			text-align: left
		.btn
			min-width: 230px
	.list-green
		margin-top: 27px
		line-height: 1.5
	.price
		font-size: 28px
		text-transform: uppercase
		+r700
		& + .btn
			margin-top: 20px
		span
			+r400
// attend 
.attend
	+r(1024)
		padding-bottom: 50px
	.field.is-head
		.td
			line-height: 1.45
	.td
		padding-right: 10px
		line-height: 45px
		+box
		span
			line-height: 1.3
			vertical-align: middle
			display: inline-block
			+r(960)
				vertical-align: top
		+r(960)
			line-height: 1.4
		&:first-child
			width: 40%
		&:nth-child(2)
			width: 21.1%
		&:nth-child(3)
			padding-right: 50px
			text-align: right
			width: 19.9%
			+r(960)
				padding-right: 0
				text-align: left
		&:last-child
			width: 230px
	.btn
		width: 100%
	.title-h2
		+r(1024)
			line-height: 1.2
			padding-top: 28px

// profile
.profile
	+clr
	& + .banner
		margin: 50px 0 17px
	&__left
		float: left
		margin-right: 50px
		+r(1024)
			margin-right: 30px
			+r(768)
				float: none
				margin: 0
				width: 100%
		img
			display: block
			+r(768)
				width: 100%
	&__right
		overflow: hidden
		+r(768)
			margin: 30px 0 0
			width: 100%
		& > .title-h2
			margin: -4px 0 50px
			line-height: 1
			+r(1024)
				margin-bottom: 30px
		.profile__col
			+r(1279)
				width: 30%
				+r(1024)
					margin: 25px 0 0
					width: 100%
					&:first-child
						margin-top: 0
	&__row
		margin-top: 22px
		+clr
		&:first-child
			margin-top: 0
	&__col
		float: left
		margin-left: 3%
		width: 23%
		&:first-child
			margin-left: 0
		.title-small
			margin-bottom: 5px