// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


body
	color: $c_body
	+hl
	font-size: 15px
	line-height: 22px


a
	text-decoration: none

// common blocks

// cab
.cab
	background: $light
	&__in
		@extend %in

// tab
.tab
	padding: 33px 0 60px
	&__list
		font-size: 0
		width: 100%
	&__item
		position: relative
		margin-left: -3px
		width: calc(16.624% + 3px)
		text-align: center
		font-size: 16px
		+r400
		vertical-align: top
		background: $l_green
		border-radius: 20px 20px 0px 0px
		transition: background .2s
		box-shadow: 2px 0 2.8px 0.2px rgba(0, 0, 0, 0.1)
		display: inline-block
		+r(1200)
			width: calc(16.6% + 3px)
		&:before
			position: absolute
			content: ''
			top: 100%
			left: 0
			right: 0
			height: 6px
			background: #fff
		&:active
			background: #fff
			&:before
				background: #fff
			.tab__link
				color: $c_body
		+rm(1024)
			&:hover
				background: #fff
				&:before
					background: #fff
				.tab__link
					color: $c_body
		&:first-child
			margin-left: 0
			z-index: 5
			box-shadow: 0 2px 6.7px 0.3px rgba(0, 0, 0, 0.15)
		&:nth-child(2)
			z-index: 4
		&:nth-child(3)
			z-index: 3
		&:nth-child(4)
			z-index: 2
		&:nth-child(5)
			z-index: 1
		&.is-active
			background: #fff
			z-index: 7
			&:before
				background: #fff
			.tab__link
				color: $c_body
	&__link
		height: 46px
		color: #fff
		line-height: 46px
		transition: color .2s
		display: block
	&__in
		position: relative
		padding: 35px 50px 50px
		box-shadow: 0 2px 6.7px 0.3px rgba(0, 0, 0, 0.15)
		z-index: 6
		background: #fff
	&__cont
		display: none


// event
.event
	line-height: 1.3
	& + .event
		margin-top: 20px
	&__row
		.date
			display: inline-block
	a
		color: $blue
		transition: border-color .3s
		border-bottom: 1px solid transparent
		&:active
			border-color: $blue
		+rm(1024)
			&:hover
				border-color: $blue

// filt
.filt
	font-size: 0
	&__col
		margin-left: 1%
		font-size: 16px
		vertical-align: top
		display: inline-block
		&:first-child
			width: 23.8%
			margin-left: 0
		&.is-date
			width: 241px
		&.is-stat
			width: 25.3%
		&.is-btn
			margin-top: 24px
			width: 16.4%
		.btn
			width: 100%
	&__row
		font-size: 0
	&__label
		margin-bottom: 2px
	.select
		display: block
	.datepicker
		margin-left: 2%
		width: 49%
		&:first-child
			margin-left: 0

// datepicker
.datepicker
	position: relative
	vertical-align: top
	display: inline-block
	input
		padding: 0 32px 0 10px
		height: 38px
		font-size: 16px
		+r400
		color: $c_body
		background-color: #fff
		border: 1px solid $bord_select
		border-radius: 5px
		width: 100%
		+box
		display: block
		&::placeholder
			color: $c_body
	img
		position: absolute
		top: 50%
		right: 11px
		margin-top: -7px
		cursor: pointer

.ui-datepicker
	width: 14.1em
	.ui-widget-header,
	.ui-state-highlight,
	.ui-state-hover
		border-color: $bord_select
		background: $l_green
	.ui-state-highlight,
	.ui-state-hover
		color: #fff
	.ui-state-active
		border-color: $red
		color: $blue
	.ui-corner-all
		cursor: pointer
	td span,
	td a
		text-align: center


// res
.res
	&__title
		margin-bottom: 24px
		+r400
		color: $l_green
		font-size: 20px
	&__in
		+clr
	&__col
		float: left
		width: 50%
	&__bot
		margin-top: 32px
	.event
		& + .event
			margin-top: 24px

// unit
.unit
	padding: 22px 30px 30px
	border-radius: 5px
	box-shadow: 0 2px 5.7px 0.3px rgba(0, 0, 0, 0.2)
	+box
	& + .unit
		margin-top: 10px
	&__row
		margin-top: 15px
		&:first-child
			margin-top: 0
		& > a,
		p > a
			color: $blue
			line-height: 18px
			&:active
				border-color: $blue
			+rm(1024)
				&:hover
					border-color: $blue
	&__but
		margin-top: 17px
	&__inst
		margin-top: 18px
		a
			color: inherit
			&:active
				border-color: $c_body
			+rm(1024)
				&:hover
					border-color: $c_body
	&__wr
		position: relative
		padding-right: 58px
		margin-top: 15px
		.btn-open
			position: absolute
			right: 0
			top: 0
		& + .unit__wr
			margin-top: 15px
	a
		transition: border-color .2s, background .3s
		border-bottom: 1px solid transparent
	.date
		font-size: 20px
		text-transform: uppercase
		letter-spacing: -.5px

// catal
.catal
	float: right
	width: 73.5%
	&__filter
		+clr
		.select,
		.search
			float: left
			margin-left: 1%
			width: 23.55%
			&:first-child
				margin-left: 0
		.search
			width: 50.7%
	&__top
		margin-top: 19px
		+clr
		.sorting
			margin-top: 12px
	&__left
		overflow: hidden
	&__right
		float: right
		width: 33.8%
	&__in
		margin-top: 21px
	&__bot
		margin-top: 31px
		text-align: center

// search
.search
	position: relative
	&__field
		.input
			padding-right: 35px
	&__btn
		position: absolute
		top: 50%
		right: 10px
		transform: translate3d(0,0,0)
		transform: translate(0,-50%)
		transition: opacity .2s
		width: 21px
		height: 21px
		text-align: center
		line-height: 1
		background: none
		&:active
			opacity: .8
		+rm(1024)
			&:hover
				opacity: .8


// specialists
.specialists
	position: relative
	margin: 25px -30px 0
	padding: 10px 10px 0 30px
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		right: 0
		height: 1px 
		background: #e5e5e5
	&__list
		padding-top: 12px
		max-height: 218px
		overflow-y: auto
		&::-webkit-scrollbar
			width: 7px
		&::-webkit-scrollbar-thumb
			border-radius: 4px
			background: #bcc2c2
			+dr(#bcc2c2,15%)
		a
			color: inherit
			&:active
				border-color: $c_body
			+rm(1024)
				&:hover
					border-color: $c_body

// sorting
.sorting
	+r(400)
	font-size: 0
	&__item
		position: relative	
		padding: 0 10px
		font-size: 16px
		vertical-align: top
		display: inline-block
		&:first-child
			padding-left: 0
			&:before
				display: none
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 0
			transform: translate(0,-50%)
			height: 9px
			border-left: 1px dotted $bd_nav
	a
		position: relative
		padding-right: 19px
		color: $blue
		display: block
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 0
			margin-top: -3px
			+arr(9,5,#ccc,b)

// calendar
.calendar
	padding: 0 43px
	+r(400)
	font-size: 14px
	letter-spacing: -.4px
	line-height: 1.25
	box-shadow: (inset 0 0 0 1px $bord_select)
	border-radius: 5px
	.calendar__day
		padding: 8px 10px
		height: 47px
		box-shadow: (1px 0 0 $bord_select)
		+box
		&:first-child
			border-left: none
	.slick-prev,
	.slick-next
		top: 0
		margin: 0
		height: 47px
		width: 43px
		&:active
			&:before
				opacity: .5
		+rm(1024)
			&:hover
				&:before
					opacity: .5
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			transition: opacity .2s
			transform: translate3d(0,0,0)
			transform: translate(-50%,-50%)
		&.slick-disabled
			opacity: 1
	.slick-prev
		box-shadow: (1px 0 0 $bord_select)
		&:before
			+arr(5,9,#ccc,l)
	.slick-next
		box-shadow: (-1px 0 0 $bord_select)
		&:before
			+arr(5,9,#ccc,r)

// doc
.doc
	position: relative
	margin-top: 9px
	overflow: hidden
	border-radius: 5px
	box-shadow: 0 2px 5.7px 0.3px rgba(0, 0, 0, 0.2)
	+clr
	&:first-child
		margin-top: 0
	&__left
		float: left
		padding: 40px 0 30px
		width: 30.14%
		text-align: center
	&__img
		position: relative
		height: 197px
		width: 197px
		overflow: hidden
		border-radius: 50%
		border: 8px solid #ebebeb
		+box
		vertical-align: top
		display: inline-block
		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			display: block
	&__price
		margin-top: 30px
		font-size: 18px
		+r400
	&__cost
		color: $blue
		font-weight: 700
		font-variant: small-caps
	&__center
		float: left
		width: 34.446%
		padding: 33px 25px 30px 0
		+box
	&__stat
		color: $blue
		font-size: 16px
		+r400
	&__inf
		margin-top: 12px
		font-size: 0
		+r400
		.rating
			margin-top: 1px
			vertical-align: top
			display: inline-block
	&__reviews,
	&__rating
		position: relative
		padding: 0 8px
		font-size: 16px
		vertical-align: top
		display: inline-block
		&:first-child
			padding-left: 0
			&:before
				display: none
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 0
			transform: translate(0,-50%)
			height: 9px
			border-left: 1px dotted $bd_nav
		& > a
			color: $blue
			transition: border-color .2s
			border-bottom: 1px solid transparent
			&:active
				border-color: $blue
			+rm(1024)
				&:hover
					border-color: $blue
	&__title 
		margin-top: 5px
		padding-right: 75px
		letter-spacing: -.1px
		font-size: 16px
		line-height: 1.2
		+r400
	&__text
		margin-top: 11px
		color: $c_doc
		line-height: 1.2
		letter-spacing: -.2px
	&__right
		position: absolute
		top: 0
		right: 0
		bottom: 0
		min-height: 345px
		width: 33.8%
		font-size: 0
		+box
		background: $l_green-2
		.days
			position: absolute
			top: 50%
			left: 0
			right: 0
			transform: translate(0,-50%)
			padding: 35px 49px 40px 45px
			+box
	.title-small
		margin-bottom: 12px

// day
.day
	margin-left: 6.96%
	width: 28.7%
	+r400
	font-size: 15px
	color: #fff
	text-align: center
	vertical-align: top
	display: inline-block
	&:first-child
		margin-left: 0
	&__time
		margin-top: 11px
		display: block
		&:first-child
			margin-top: 0
	&__but
		margin-top: 24px
	.btn
		width: 100%
	a
		color: #fff
	span
		color: #76d6d5