// ad
.ad
	padding: 96px 0 110px
	color: #fff
	+r400
	font-size: 58px
	line-height: 56px
	+font-smoothing(antialiased)
	background: url(../img/bg-ad.png) no-repeat 50% 0
	background-size: cover
	+r(1200)
		padding-left: 10px
	+r(960)
		padding: 34px 0 
		font-size: 44px
		line-height: 40px
	&__in
		position: relative
		margin: 0 auto
		max-width: 1096px
		+r(960)
			padding: 0 30px 343px
	&__block
		padding: 25px 40px 32px
		max-width: 525px
		vertical-align: top
		+box
		border-radius: 10px
		background-color: #62c2c1
		+r(960)
			margin: 0 auto
		p
			letter-spacing: -3.3px
	&__hand
		position: absolute
		right: 75px
		bottom: -110px
		width: 353px
		height: 502px
		background: url(../img/hand.png) no-repeat 0 0
		background-size: contain
		+r(960)
			right: 50%
			margin-right: -125px
			width: 247px
			height: 428px
	&__bot
		margin-top: 22px
		text-align: center
		.btn
			+r(960)
				width: 100%

// info
.info
	padding: 42px 0
	color: #fff
	background: $blue
	+r(768)
		padding-bottom: 28px
	&__in
		@extend %in
		+clr
		+r(768)
			padding: 0
	&__item
		float: left
		padding-right: 20px
		width: 25%
		+box
		+clr
		&:first-child
			.info__img
				padding-right: 15px
				+r(1200)
					padding-right: 0
		+r(1200)
			margin: 25px 0 0
			width: 50%
			&:first-child,
			&:nth-child(2)
				margin-top: 0
			&:nth-child(2)
				+r(768)
					margin-top: 32px
			+r(768)
				margin-top: 32px
				padding: 30px 60px 0
				width: 100%
				border-top: 1px solid #597fbb
				&:first-child
					padding-top: 0
					border-top: none
	&__img
		float: left
		width: 90px
		text-align: center
		+box
		+r(768)
			width: 135px
	&__right
		overflow: hidden
	&__title
		margin: -2px 0 5px 
		padding-right: 34px
		+r700
		font-size: 22px
		line-height: 1.1
		+r(768)
			padding-right: 0
			font-size: 24px
	&__text
		opacity: .6
		+r(768)
			font-size: 17px
	.ico
		vertical-align: top

// necess
.necess
	padding: 40px 0 70px
	+r(768)
		padding: 32px 0 38px
	&__in
		padding: 0 20px
		margin: 0 auto
		max-width: 1200px
		+r(768)
			padding: 0 30px
	&__row
		position: relative
		text-align: center
		font-size: 0
		+clr
	&__item
		position: static
		margin-left: 1.5%
		padding: 28px 35px 32px 27px
		width: 32%
		color: #fff
		text-align: left
		+box
		border-radius: 5px
		vertical-align: top
		transition: background .2s
		display: inline-block
		&:before
			position: absolute
			content: ''
			top: 0
			bottom: 0
			width: 32%
			margin-left: -27px
			border-radius: 5px
			transition: background .2s
			background: $l_green
			z-index: -1
			+r(1200)
				display: none
		&:hover
			+r(1200)
				background: darken($l_green, 15%)
			&:before
				background: darken($l_green, 15%)
		&:first-child
			margin-left: 0
		+r(1200)
			margin: 15px 0 0
			width: 100%
			background: $l_green
			&:first-child
				margin-top: 0
	&__img
		float: left
		margin: 4px 30px 0 0
		width: 124px
		height: 124px
		font-size: 0
		overflow: hidden
		border-radius: 50%
		background: #fff
		img
			display: block
	&__text
		font-size: 17px
		overflow: hidden
	&__title
		margin-bottom: 12px
		+r700
		font-size: 22px
	.title
		margin-bottom: 25px
		+r(768)
			margin-bottom: 15px

.ff
	.necess__item
		&:before
			margin-left: -181px

.ie8,
.ie9
	.necess__item
		background: $l_green
		&:before
			display: none
		&:hover
			background: darken($l_green, 15%)

// video
.video
	padding: 40px 0 60px
	color: #fff
	background: $l_blue
	&.is-small
		padding: 0
		background: none
		position: relative
		img
			width: 100%
			display: block
	+r(768)
		padding: 32px 0 80px
	&__in
		margin: 0 auto
		max-width: 838px
		+r(960)
			padding: 0 30px
	&__wrap
		position: relative
		padding: 10px
		+g(#fff, #717171)
	&__slide
		position: relative
		font-size: 0
		overflow: hidden
		img
			position: relative
			width: 100%
			opacity: .8
			display: block
	&__play
		position: absolute
		top: 50%
		left: 50%
		margin: -39px 0 0 -39px
		cursor: pointer
		transition: transform .2s
		z-index: 50
		+s(play)
		&:active
			transform: scale(1.2)
		+rm(1024)
			&:hover
				transform: scale(1.2)
	.slick-arrow
		transition: opacity .2s
		&:hover
			opacity: .8
		&:active
			opacity: .7
		&:before
			display: none
		+r(960)
			display: none !important
	.slick-next
		right: -152px
		+s(sl-next)
		+r(1280)
			right: -50px
	.slick-prev
		left: -152px
		+s(sl-prev)
		+r(1280)
			left: -50px
	.slick-dots
		bottom: -30px
		line-height: 1
		font-size: 0
		li
			&.slick-active
				button
					opacity: 1
					background: #fff
			button
				height: 10px
				width: 10px
				transition: background .3s
				border: 2px solid #fff
				box-shadow: none
				background: transparent
	.title
		margin-bottom: 18px

// amount
.amount
	padding: 140px 0 70px
	color: #fff
	+r400
	background: url(../img/bg-amount.png) no-repeat 50% 0
	background-size: cover
	+r(960)
		padding: 44px 0 51px
	&__in
		@extend %in
		font-size: 0
		text-align: center
	&__item
		margin-left: 38px
		max-width: 214px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
			+r(960)
				margin: 0 auto
		+r(1200)
			margin-left: 30px
			+r(1024)
				margin-left: 10px
			+r(960)
				margin: 38px auto 0
				display: block
	&__tally
		width: 214px
		height: 214px
		font-size: 58px
		+gb
		text-align: center
		line-height: 188px
		border-radius: 50%
		border: 16px solid $l_blue
		+box
	&__text
		margin-top: 25px
		font-size: 30px
		line-height: 31px
		+r(960)
			margin: 16px -70px 0
	&__bot
		margin-top: 68px
		text-align: center
		+r(768)
			margin-top: 30px
	.btn
		+r(500)
			width: 100%