$icons: (0:0)
$icons: map-merge($icons,(arr-drop-top: (X: -331px, Y:-144px, W: 14px, H: 9px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(check-arr: (X: -314px, Y:-144px, W: 13px, H: 10px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(doctors: (X: 0px, Y:-192px, W: 58px, H: 53px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(download: (X: -321px, Y:-126px, W: 15px, H: 14px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(email: (X: -302px, Y:-126px, W: 15px, H: 14px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(fhone: (X: -302px, Y:-144px, W: 8px, H: 20px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(history: (X: -302px, Y:0px, W: 48px, H: 58px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo: (X: 0px, Y:0px, W: 298px, H: 107px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(on-line: (X: -148px, Y:-111px, W: 73px, H: 50px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(play: (X: 0px, Y:-111px, W: 77px, H: 77px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(recipes: (X: -81px, Y:-111px, W: 63px, H: 63px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search-green: (X: -325px, Y:-103px, W: 15px, H: 15px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search: (X: -302px, Y:-103px, W: 19px, H: 19px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(sl-next: (X: -326px, Y:-62px, W: 19px, H: 35px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(sl-prev: (X: -302px, Y:-62px, W: 20px, H: 37px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(star-gray: (X: -225px, Y:-125px, W: 68px, H: 10px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(star: (X: -225px, Y:-111px, W: 68px, H: 10px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)

@mixin sr($i)
	+sprite-retina($i)	

//
//.icon-arr-drop-top
//	width: 14px
//	height: 9px
//	background-image: url('../img/icons.png')
//	background-position: -331px -144px
//
//.icon-check-arr
//	width: 13px
//	height: 10px
//	background-image: url('../img/icons.png')
//	background-position: -314px -144px
//
//.icon-doctors
//	width: 58px
//	height: 53px
//	background-image: url('../img/icons.png')
//	background-position: 0px -192px
//
//.icon-download
//	width: 15px
//	height: 14px
//	background-image: url('../img/icons.png')
//	background-position: -321px -126px
//
//.icon-email
//	width: 15px
//	height: 14px
//	background-image: url('../img/icons.png')
//	background-position: -302px -126px
//
//.icon-fhone
//	width: 8px
//	height: 20px
//	background-image: url('../img/icons.png')
//	background-position: -302px -144px
//
//.icon-history
//	width: 48px
//	height: 58px
//	background-image: url('../img/icons.png')
//	background-position: -302px 0px
//
//.icon-logo
//	width: 298px
//	height: 107px
//	background-image: url('../img/icons.png')
//	background-position: 0px 0px
//
//.icon-on-line
//	width: 73px
//	height: 50px
//	background-image: url('../img/icons.png')
//	background-position: -148px -111px
//
//.icon-play
//	width: 77px
//	height: 77px
//	background-image: url('../img/icons.png')
//	background-position: 0px -111px
//
//.icon-recipes
//	width: 63px
//	height: 63px
//	background-image: url('../img/icons.png')
//	background-position: -81px -111px
//
//.icon-search-green
//	width: 15px
//	height: 15px
//	background-image: url('../img/icons.png')
//	background-position: -325px -103px
//
//.icon-search
//	width: 19px
//	height: 19px
//	background-image: url('../img/icons.png')
//	background-position: -302px -103px
//
//.icon-sl-next
//	width: 19px
//	height: 35px
//	background-image: url('../img/icons.png')
//	background-position: -326px -62px
//
//.icon-sl-prev
//	width: 20px
//	height: 37px
//	background-image: url('../img/icons.png')
//	background-position: -302px -62px
//
//.icon-star-gray
//	width: 68px
//	height: 10px
//	background-image: url('../img/icons.png')
//	background-position: -225px -125px
//
//.icon-star
//	width: 68px
//	height: 10px
//	background-image: url('../img/icons.png')
//	background-position: -225px -111px
//