$icons: (0:0)
$icons: map-merge($icons,(arr-drop-top: (X: -336px, Y:-232px, W: 14px, H: 9px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(call-arr: (X: -302px, Y:-147px, W: 16px, H: 23px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(cellular_phone: (X: -302px, Y:-62px, W: 40px, H: 40px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(check-arr-l-green: (X: -320px, Y:-214px, W: 14px, H: 12px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(check-arr-white: (X: -302px, Y:-232px, W: 13px, H: 10px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(check-arr: (X: -319px, Y:-232px, W: 13px, H: 10px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(doctors: (X: 0px, Y:-192px, W: 58px, H: 53px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(download: (X: -302px, Y:-196px, W: 15px, H: 14px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(email: (X: -321px, Y:-196px, W: 15px, H: 14px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(fhone: (X: -225px, Y:-139px, W: 8px, H: 20px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(history: (X: -302px, Y:0px, W: 48px, H: 58px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(info: (X: -302px, Y:-174px, W: 18px, H: 18px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo: (X: 0px, Y:0px, W: 298px, H: 107px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(on-line: (X: -148px, Y:-111px, W: 73px, H: 50px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(play: (X: 0px, Y:-111px, W: 77px, H: 77px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(recipes: (X: -81px, Y:-111px, W: 63px, H: 63px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(reg: (X: -302px, Y:-214px, W: 14px, H: 14px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(remove-red-small: (X: -237px, Y:-139px, W: 8px, H: 8px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(remove-white-small: (X: -338px, Y:-214px, W: 9px, H: 8px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(remove: (X: -340px, Y:-196px, W: 10px, H: 10px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search-green: (X: -324px, Y:-174px, W: 15px, H: 15px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search: (X: -322px, Y:-147px, W: 19px, H: 19px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(sl-next: (X: -326px, Y:-106px, W: 19px, H: 35px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(sl-prev: (X: -302px, Y:-106px, W: 20px, H: 37px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(star-gray: (X: -225px, Y:-111px, W: 68px, H: 10px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(star: (X: -225px, Y:-125px, W: 68px, H: 10px, TW: 350px, TH: 245px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)

@mixin sr($i)
	+sprite-retina($i)	

//
//.icon-arr-drop-top
//	width: 14px
//	height: 9px
//	background-image: url('../img/icons.png')
//	background-position: -336px -232px
//
//.icon-call-arr
//	width: 16px
//	height: 23px
//	background-image: url('../img/icons.png')
//	background-position: -302px -147px
//
//.icon-cellular_phone
//	width: 40px
//	height: 40px
//	background-image: url('../img/icons.png')
//	background-position: -302px -62px
//
//.icon-check-arr-l-green
//	width: 14px
//	height: 12px
//	background-image: url('../img/icons.png')
//	background-position: -320px -214px
//
//.icon-check-arr-white
//	width: 13px
//	height: 10px
//	background-image: url('../img/icons.png')
//	background-position: -302px -232px
//
//.icon-check-arr
//	width: 13px
//	height: 10px
//	background-image: url('../img/icons.png')
//	background-position: -319px -232px
//
//.icon-doctors
//	width: 58px
//	height: 53px
//	background-image: url('../img/icons.png')
//	background-position: 0px -192px
//
//.icon-download
//	width: 15px
//	height: 14px
//	background-image: url('../img/icons.png')
//	background-position: -302px -196px
//
//.icon-email
//	width: 15px
//	height: 14px
//	background-image: url('../img/icons.png')
//	background-position: -321px -196px
//
//.icon-fhone
//	width: 8px
//	height: 20px
//	background-image: url('../img/icons.png')
//	background-position: -225px -139px
//
//.icon-history
//	width: 48px
//	height: 58px
//	background-image: url('../img/icons.png')
//	background-position: -302px 0px
//
//.icon-info
//	width: 18px
//	height: 18px
//	background-image: url('../img/icons.png')
//	background-position: -302px -174px
//
//.icon-logo
//	width: 298px
//	height: 107px
//	background-image: url('../img/icons.png')
//	background-position: 0px 0px
//
//.icon-on-line
//	width: 73px
//	height: 50px
//	background-image: url('../img/icons.png')
//	background-position: -148px -111px
//
//.icon-play
//	width: 77px
//	height: 77px
//	background-image: url('../img/icons.png')
//	background-position: 0px -111px
//
//.icon-recipes
//	width: 63px
//	height: 63px
//	background-image: url('../img/icons.png')
//	background-position: -81px -111px
//
//.icon-reg
//	width: 14px
//	height: 14px
//	background-image: url('../img/icons.png')
//	background-position: -302px -214px
//
//.icon-remove-red-small
//	width: 8px
//	height: 8px
//	background-image: url('../img/icons.png')
//	background-position: -237px -139px
//
//.icon-remove-white-small
//	width: 9px
//	height: 8px
//	background-image: url('../img/icons.png')
//	background-position: -338px -214px
//
//.icon-remove
//	width: 10px
//	height: 10px
//	background-image: url('../img/icons.png')
//	background-position: -340px -196px
//
//.icon-search-green
//	width: 15px
//	height: 15px
//	background-image: url('../img/icons.png')
//	background-position: -324px -174px
//
//.icon-search
//	width: 19px
//	height: 19px
//	background-image: url('../img/icons.png')
//	background-position: -322px -147px
//
//.icon-sl-next
//	width: 19px
//	height: 35px
//	background-image: url('../img/icons.png')
//	background-position: -326px -106px
//
//.icon-sl-prev
//	width: 20px
//	height: 37px
//	background-image: url('../img/icons.png')
//	background-position: -302px -106px
//
//.icon-star-gray
//	width: 68px
//	height: 10px
//	background-image: url('../img/icons.png')
//	background-position: -225px -111px
//
//.icon-star
//	width: 68px
//	height: 10px
//	background-image: url('../img/icons.png')
//	background-position: -225px -125px
//