//fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic,cyrillic-ext)
+font("HelveticaNeue", HelveticaNeueCyr-Roman)
+font("HelveticaNeueCyr-Bold", HelveticaNeueCyr-Bold)
+font("GothamPro-Bold",GothamPro-Bold)

// mixin
=hl
	font-family: "HelveticaNeue", Arial, sans-serif
=hlb
	font-family: "HelveticaNeueCyr-Bold", Arial, sans-serif
=r300
	font-family: 'Roboto Condensed', Arial, sans-serif
	font-weight: 300
=r400
	font-family: 'Roboto Condensed', Arial, sans-serif
	font-weight: 400
=r700
	font-family: 'Roboto Condensed', Arial, sans-serif
	font-weight: 700
=gb
	font-family: "GothamPro-Bold", Arial, sans-serif

// extend
.in
	margin: 0 auto
	padding: 0 8px
	max-width: 1280px
	box-sizing: border-box
%in
	@extend .in

// variables
$red: #e82126
$blue: #4671b3
$d_blue: #4170b6
$l_blue: #1393d2
$l_green: #62c2c1
$light: #fafafa

$c_gray: #767676
$c_body: #333

$bord_cab: #e6e6e6
$bord_select: #d8dadd

$bd_nav: #919c9f