<!-- filter -->
<div class="filter">
	<div class="filter__in">
		<form>
			<div class="filter__text">Ищу специалиста</div>
			<!-- drop -->
			<div class="drop">
				<input type="text" hidden>
				<div class="drop__text">Специальность</div>
				<div class="drop__block">
					<div class="drop__title"></div>
					<div class="drop__in">
						<ul>
							<li>Акушер-гинеколог</li>
							<li>Гастроэнтеролог</li>
							<li>Гинеколог</li>
							<li>Дерматолог</li>
						</ul>
						<ul>
							<li>Кардиолог</li>
							<li>Маммолог</li>
							<li>Невролог</li>
							<li>Ортодонт</li>
						</ul>
						<ul>
							<li>Ортопед</li>
							<li>Отоларинголог (ЛОР)</li>
							<li>Офтальмолог</li>
							<li>Педиатр</li>
						</ul>
						<ul>
							<li>Проктолог</li>
							<li>Психотерапевт</li>
							<li>Стоматолог</li>
							<li>Терапевт</li>
						</ul>
						<ul>
							<li>УЗИ-специалист</li>
							<li>Уролог</li>
							<li>Хирург</li>
							<li>Эндокринолог</li>
						</ul>
						<ul>
							<li>УЗИ-специалист</li>
							<li>Уролог</li>
							<li>Хирург</li>
							<li>Эндокринолог</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- drop -->
			<div class="drop">
				<input type="text" hidden>
				<div class="drop__text">Страна</div>
				<div class="drop__block">
					<div class="drop__title">Lorem ipsum.</div>
					<div class="drop__in">
						<ul>
							<li>item1</li>
							<li>item2</li>
							<li>item3</li>
							<li>item4</li> 
						</ul>
					</div>
				</div>
			</div>
			<!-- drop --> 
			<div class="drop">
				<input type="text" hidden>
				<div class="drop__text">Город</div> 
				<div class="drop__block">
					<div class="drop__title">Lorem ipsum.</div>
					<div class="drop__in">
						<ul>
							<li>item1</li>
							<li>item2</li>
							<li>item3</li> 
							<li>item4</li>
						</ul>
					</div>
				</div>
			</div>
			<button class="btn" type="submit"><i class="ico ico-search"></i></button>
		</form>
	</div>
</div>