<!-- footer -->
<footer class="footer">
	<div class="footer__in">
		<div class="footer__left">
			<!-- copy -->
			<div class="copy">Авторские права @ 2015 Консилиум</div>
			<!-- numb -->
			<div class="numb">
				<i class="ico ico_fhone"></i>
				<div class="numb__tel">8 800 333 4 555</div>
				<a href="#" class="numb__all">Номера для связи в других городах</a>
			</div>
		</div>
		<div class="footer__right">
			<a href="mailto:hello@conciliumcenter.com" class="email"><i class="ico ico_email"></i><span>hello@conciliumcenter.com</span></a>
			<ul class="footer__menu">
				<li><a href="#">Специалисты</a></li>
				<li><a href="#">Партнеры</a></li>
				<li><a href="#">О проекте</a></li>
			</ul>
		</div>
		
	</div>
</footer>