<meta charset="utf-8">
<title>Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#fff">
<!-- <meta name="viewport" content="width=1200"> -->
<!-- <meta name="viewport" content="initial-scale=1, user-scalable=no"> -->
<link rel="stylesheet" media="all" href="css/jquery-ui.min.css" >
<link rel="stylesheet" media="all" href="css/fullcalendar.css" >
<link rel="stylesheet" media="all" href="css/screen.css" >
<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/app.js"></script>