<!-- header -->
<header class="header">
	<div class="header__in">
		<!-- logo -->
		<a href="#" class="logo"></a>
		<!-- nav -->
		<ul class="nav">
			<li class="nav__item"> 
				<a href="#">О проекте</a>
			</li>
			<li class="nav__item">
				<a href="#">Как это работает?</a>
			</li>
			<li class="nav__item">
				<a href="#">Наши партнеры</a>
			</li>
		</ul> 
		<div class="header__right">
			<!-- lang -->
			<div class="lang">
				<a href="#">Русский</a> / 
				<a href="#">English</a>
			</div>
			<!-- bal -->
			<div class="bal">
				<span>Баланс на счету: </span>
				<span class="bal__many">3 600 ₴</span>
				<a href="#" class="bal__plus"></a>
			</div>
			<!-- cabinet -->
			<div class="cabinet">
				<a href="#" class="cabinet__link">Личный кабинет</a>
			</div>
		</div>
	</div>
</header>