<!-- header -->
<header class="header">
	<div class="header__in">
		<!-- logo -->
		<a href="#" class="logo"></a>
		<!-- nav -->
		<ul class="nav">
			<li class="nav__item"> 
				<a href="#">О проекте</a>
			</li>
			<li class="nav__item">
				<a href="#">Как это работает?</a>
			</li>
			<li class="nav__item">
				<a href="#">Наши партнеры</a>
			</li>
		</ul> 
		<div class="header__right">
			<!-- lang -->
			<div class="lang">
				<a href="#">Русский</a> / 
				<a href="#">English</a>
			</div>
			<!-- bal -->
			<div class="bal">
				<span>Баланс на счету: </span>
				<span class="bal__many">3 600 ₴</span>
				<a href="#" class="bal__plus"></a>
			</div>
			<!-- cabinet -->
			<div class="cabinet">
				<div class="dropdown js-dropdown">
					<a href="#" class="dropdown__text js-dropdown-text">Личный кабинет</a>
					<div class="dropdown__arr"></div>
					<ul class="dropdown__list js-dropdown-list">
						<li class="dropdown__item"><a href="#">Мой профиль</a></li>
						<li class="dropdown__item"><a href="#">Регистратура</a></li>
						<li class="dropdown__item"><a href="#">Календарь</a></li>
						<li class="dropdown__item"><a href="#">Мой счет</a></li>
						<li class="dropdown__item"><a href="#">Выйти</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>