<!-- sidebar -->
<div class="sidebar">
	<!-- unit -->
	<div class="unit">
		<h3 class="title-h5">Консилиум врачей:</h3>
		<div class="unit__row">
			<p>У вас добавлены:</p>
			<p><a href="#">Олег Владивосток</a></p>
			<p><a href="#">Константин Абрамович</a></p>
		</div>
		<div class="unit__row">
			<p>Запись на:</p>
			<div class="date">28.08.2015, 10:00, утро</div>
		</div>
		<div class="unit__but">
			<a href="#" class="btn btn_middle">приглашены на консилиум</a>
		</div>
	</div>
	<!-- unit -->
	<div class="unit">
		<h3 class="title-small">Медучреждения</h3>
		<ul class="unit__inst">
			<li><a href="#">Клиники</a></li>
			<li><a href="#">Санатории</a></li>
			<li><a href="#">Курорты</a></li>
		</ul>
	</div>
	<!-- unit -->
	<div class="unit">
		<h3 class="title-small">СПЕЦИАЛИСТЫ</h3>
		<div class="unit__wr">
			<label class="checkbox">
				<input type="checkbox">
				<span>Профессора, доктора медицинских наук</span>
			</label>
			<button class="btn-open"></button>
		</div>
		<!-- specialists -->
		<div class="specialists">
			<ul class="specialists__list">
				<li><a href="#">Переводчики</a></li>
				<li><a href="#">Аллергологи</a></li>
				<li><a href="#">Дерматологи</a></li>
				<li><a href="#">Кардиологи</a></li>
				<li><a href="#">Неврологи</a></li>
				<li><a href="#">Нетрадиционная медицина</a></li>
				<li><a href="#">Ортопеды</a></li>
				<li><a href="#">Офтальмологи</a></li>
				<li><a href="#">Стоматологи</a></li>
				<li><a href="#">Переводчики</a></li>
				<li><a href="#">Аллергологи</a></li>
				<li><a href="#">Дерматологи</a></li>
				<li><a href="#">Кардиологи</a></li>
				<li><a href="#">Неврологи</a></li>
				<li><a href="#">Нетрадиционная медицина</a></li>
				<li><a href="#">Ортопеды</a></li>
				<li><a href="#">Офтальмологи</a></li>
				<li><a href="#">Стоматологи</a></li>
			</ul>
		</div>
	</div>
</div>